.titlebar-button {
	width: 48px !important;
	height: 32px !important;
	padding: 0px 0px 0px 18px !important;
}
#minimize-button, #restore-button, #close-button {
	width: 48px !important;
	height: 32px !important;
	padding: 0px 0px 0px 0px !important;
}
#restore-button {
	list-style-image: url(../img/titlebox-full-restore.png) !important;
}
#titlebar-buttonbox, #TabsToolbar, #toolbar-menubar {
	height: 32px !important;
}
#toolbar-menubar > #menubar-items > #main-menubar > menu {
	padding: 0px !important;
}
#titlebar {
	margin-top: 1px !important;
	height: 33px !important;
	margin-bottom: -33px !important;
}
window #titlebar-content {
	margin-top: 0px !important;
	height: 32px !important;
}
window[sizemode="maximized"] #titlebar {
	margin-top: 0px !important;
	height: 41px !important;
}
window[sizemode="maximized"] #titlebar-content {
	margin-top: 0px !important;
	height: 32px !important;
}
#minimize-button {
	padding-bottom: 8px !important;
}
window[sizemode="fullscreen"] #minimize-button {
	padding-top: 8px !important;
}
#titlebar-min:hover, #titlebar-max:hover, #minimize-button:hover, #restore-button:hover {
	background-color: var(--titlebar-min-max-hover-bg-color) !important;
}
#titlebar-min:hover:active, #titlebar-max:hover:active, #minimize-button:hover:active, #restore-button:hover:active {
	background-color: var(--titlebar-min-max-active-bg-color) !important;
}
#titlebar-close:hover, #close-button:hover {
	background-color: var(--titlebar-close-hover-bg-color)	!important;
}
#titlebar-close:hover:active, #close-button:hover:active {
	background-color: var(--titlebar-close-active-bg-color) !important;
}
#navigator-toolbox {
	background: black !important;
}
#nav-bar {
	margin-top: 0px !important;
	border-top: 0px !important;
	box-shadow: none !important;
}
#main-window[chromemargin] {
	background-color: rgba(0, 0, 0, 1) !important;
	-moz-appearance: -moz-win-glass !important;
}
#nav-bar textbox {
	background-color: rgba(42, 42, 42, 0) !important;
}
#nav-bar textbox:hover {
	background-color: rgba(75, 75, 75, 1) !important;
}
#urlbar, .searchbar-textbox {
	border: 0px !important;
	height: 20px !important;
}
#urlbar {
	margin-left: 1px !important;
	margin-right: 1px !important;
}
#nav-bar[id], #PersonalToolbar[id], #web-developer-toolbar[id], #navigator-toolbox[tabsontop="true"] > #nav-bar[id], #navigator-toolbox[tabsontop="true"]:not([customizing]) > #nav-bar[collapsed="true"][id] + toolbar, #navigator-toolbox[tabsontop="true"]:not([customizing]) > #nav-bar[collapsed="true"] + #customToolbars + #PersonalToolbar[id], #navigator-toolbox[tabsontop="false"] > #nav-bar[id], #navigator-toolbox[tabsontop="false"]:not([customizing]) > #nav-bar[collapsed="true"][id] + toolbar, #navigator-toolbox[tabsontop="false"]:not([customizing]) > #nav-bar[collapsed="true"] + #customToolbars + #PersonalToolbar[id] {
	background-image: none !important;
	background: rgba(42, 42, 42, 1) !important;
}
.tabbrowser-tab[selected="true"][pinned="true"]:hover, .tabbrowser-tab:not([pinned]):hover, .tabs-newtab-button:hover, #new-tab-button:hover, #alltabs-button:hover {
	color: rgba(240, 240, 240, 1) !important;
	background: rgba(42, 42, 42, 1) !important;
	border-top: 0px !important;
}
.tab-background-middle[selected="true"], .tabbrowser-tab[selected="true"], .tab-background-middle[selected="true"]:hover, .tabbrowser-tab[selected="true"]:hover {
	background: rgba(42, 42, 42, 1) !important;
}
.tabbrowser-tab[pinned]:hover {
	color: rgba(240, 240, 240, 1) !important;
	background: rgba(42, 42, 42, 1) !important;
	border-top: 0px !important;
}
.tab-background {
	border-top: none !important;
}
.tabbrowser-tab::before, .tabbrowser-tab::after {
	display: none !important;
}
.tabs-newtab-button, #new-tab-button, #alltabs-button {
	color: rgba(240, 240, 240, 1) !important;
	background: rgba(0, 0, 0, 0.0) !important;
	border-top: 0px !important;
	margin-bottom: 0px !important;
}
.tabs-newtab-button:hover:active, #new-tab-button:hover:active, #alltabs-button:hover:active {
	background: #444 !important
}
window:not([chromehidden~="toolbar"]) #urlbar-container > .toolbarbutton-1:-moz-any([disabled], :not([open]):not([disabled]):not(:active)) > .toolbarbutton-icon[class], #main-window:not([customizing]) #back-button[disabled] > .toolbarbutton-icon[class] {
	background-image: none !important;
	background-color: rgba(40, 40, 40, 0) !important;
	box-shadow: none !important;
	border: 0px !important;
}
#forward-button, #back-button {
	display: none !important;
}
toolbarbutton.bookmark-item {
	border: 1px rgba(0, 0, 0, 0) solid !important;
}
toolbarbutton.bookmark-item:hover {
	background-color: rgba(75, 75, 75, 1) !important;
	border: 1px rgba(75, 75, 75, 1) solid !important;
}
.titlebar-placeholder[type="pre-tabs"] {
	display: none !important;
}
.titlebar-placeholder[type="post-tabs"] {
	width: 50px !important;
}
#content-deck {
	-moz-appearance: -moz-win-exclude-glass !important;
}
#TabsToolbar {
	background: black !important;
	margin-bottom: 0px !important;
}
#navigator-toolbox::after {
	border-bottom: 0px !important;
}
#browser vbox#appcontent tabbrowser, #content, #tabbrowser-tabpanels, browser[type=content-primary], browser[type=content] > html {
	background-color: #101010 !important;
}
#TabsToolbar .tab-background {
	background: transparent !important;
	border-right: 0px !important;
	border-left: 0px !important;
}
.scrollbutton-up, .scrollbutton-down {
	margin-bottom: 0px !important;
}
.scrollbutton-up:hover, .scrollbutton-down:hover {
	background: rgba(42, 42, 42, 1) !important;
}
.scrollbutton-up:hover:active, .scrollbutton-down:hover:active {
	background: #444 !important;
}
.tabs-newtab-button .toolbarbutton-icon {
	background: transparent !important;
}
#urlbar, .searchbar-textbox {
	box-shadow: none !important;
}
.close-icon > .toolbarbutton-icon {
	border-radius: 0px !important;
}
#TabsToolbar[movingtab] {
	padding-bottom: 0px !important;
}
#TabsToolbar[movingtab] > .tabbrowser-tabs {
	padding-bottom: 0px !important;
	margin-bottom: 0px !important;
}
#new-tab-button > .toolbarbutton-icon, #alltabs-button > .toolbarbutton-icon {
	background-color: transparent !important;
}
/* Findbar */
.findbar-find-previous, .findbar-find-next {
	border: none !important;
	margin-left: 5px !important;
	background: rgb(80, 80, 80) !important;
	border-radius: 0px !important;
}
findbar {
	transition-property: margin-bottom, visibility !important;
	background-color: #161616 !important;
	border-top: none !important;
}
findbar[hidden] {
	visibility: collapse !important;
	margin-bottom: -40px !important;
	opacity: 1 !important;
}
.findbar-button, .findbar-find-previous, .findbar-find-next {
	-moz-appearance: none !important;
	padding: 3px !important;
	background-color: #333333 !important;
	border: 2px #333333 solid !important;
	color: white !important;
}
.findbar-button:hover, .findbar-find-previous:hover, .findbar-find-next:hover {
	color: white !important;
	border: 2px #858585 solid !important;
}
.findbar-button:hover:active, .findbar-find-previous:hover:active, .findbar-find-next:hover:active {
	color: white !important;
	background-color: #666666 !important;
	border: 2px #858585 solid !important;
}
.findbar-button[checked="true"] {
	background-color: -moz-win-accentcolor !important;
	border: 2px -moz-win-accentcolor solid !important;
}
.findbar-button[checked="true"]:hover {
	color: white !important;
	border: 2px #858585 solid !important;
}
.findbar-find-previous[disabled="true"]:hover, .findbar-find-next[disabled="true"]:hover, .findbar-find-previous[disabled="true"]:hover:active, .findbar-find-next[disabled="true"]:hover:active {
	border: 2px #333333 solid !important;
	background-color: #333333 !important;
}
.toolbarbutton-text {
	padding: 3px !important;
}
.findbar-button > .toolbarbutton-text {
	background-color: transparent !important;
}
.findbar-find-previous > .toolbarbutton-text, .findbar-find-next > .toolbarbutton-text {
	padding: 0 !important;
}
.findbar-textbox {
	border-radius: 0px !important;
}
/* Panels */
panel {
	margin-top: 0px !important;
}
.panel-arrowbox {
	display: none !important;
}
.panel-arrowcontent {
	border: none !important;
	box-shadow: none !important;
}
panelview {
	background: rgba(42, 42, 42, 1) !important;
}
/* Various Panels */
#appMenu-popup {
	margin-top: -2px !important;
	margin-right: -19px !important;
}
#identity-popup {
	margin-top: 4px !important;
	margin-left: -21px !important;
}
/* Tracking toggle */
#appMenu-tp-toggle {
	margin-top: 6px !important;
	margin-bottom: 6px !important;
}
#appMenu-tp-toggle[enabled="true"] {
	background-color: -moz-win-accentcolor !important;
	border: 1px solid -moz-win-accentcolor !important;
}
#appMenu-tp-toggle > .toolbarbutton-text {
	padding: 0px !important;
}
/* Sync Icon */
#appMenu-fxa-icon[syncstatus="active"] > .toolbarbutton-icon, #PanelUI-remotetabs-syncnow[syncstatus="active"] > .toolbarbutton-icon {
	fill: -moz-win-accentcolor !important;
}
/* Sidebar */
#sidebar-header {
	background: #2A2A2A !important;
	color: white !important;
	border-bottom: none !important;
}
#sidebar-switcher-target > #sidebar-icon {
	fill: white !important;
}
#sidebar-search-container {
	background: black !important;
}
#sidebar-splitter {
	border-right: none !important;
	margin: 0px !important;
	width: 0px !important;
	min-width: 0px !important;
}
#sidebar-box {
	background-color: black !important;
}
:root {
	--titlebar-min-max-hover-bg-color: rgba(42, 42, 42, 1);
	--titlebar-min-max-active-bg-color: #444;
	--titlebar-close-hover-bg-color: #E81123;
	--titlebar-close-active-bg-color: #F06F79;
	--toolbarbutton-border-radius: 0px !important;
	--tab-min-height: 32px !important;
}