/* Titlebar */
.titlebar-button {
	width: 48px !important;
	height: 32px !important;
	padding: 0px 0px 0px 18px !important;
}
#minimize-button, #restore-button, #close-button {
	width: 48px !important;
	height: 32px !important;
	padding: 0px 0px 0px 0px !important;
}
#restore-button {
	list-style-image: url(../img/titlebox-full-restore.png) !important;
}
#titlebar-buttonbox, #TabsToolbar, #toolbar-menubar {
	height: 32px !important;
}
#toolbar-menubar > #menubar-items > #main-menubar > menu {
	padding: 0px !important;
}
#titlebar {
	margin-top: 1px !important;
	height: 32px !important;
	margin-bottom: -32px !important;
}
window[sizemode="maximized"] #titlebar {
	margin-top: 0px !important;
	margin-bottom: -24px !important;
}
#minimize-button {
	padding-bottom: 8px !important;
}
window[sizemode="fullscreen"] #minimize-button {
	padding-top: 8px !important;
}
#titlebar-min:hover, #titlebar-max:hover, #minimize-button:hover, #restore-button:hover {
	background-color: var(--titlebar-min-max-hover-bg-color) !important;
}
#titlebar-min:hover:active, #titlebar-max:hover:active, #minimize-button:hover:active, #restore-button:hover:active {
	background-color: var(--titlebar-min-max-active-bg-color) !important;
}
#titlebar-close:hover, #close-button:hover {
	background-color: var(--titlebar-close-hover-bg-color)	!important;
}
#titlebar-close:hover:active, #close-button:hover:active {
	background-color: var(--titlebar-close-active-bg-color) !important;
}
.titlebar-placeholder[type="pre-tabs"] {
	display: none !important;
}
.titlebar-placeholder[type="post-tabs"] {
	width: 50px !important;
}
/* Window */
#main-window[chromemargin] {
	background-color: black !important;
	-moz-appearance: -moz-win-glass !important;
}
/* Tabs */
#tabbrowser-tabs:-moz-window-inactive {
	--tab-line-color: rgb(128, 128, 128) !important;
}
#tabbrowser-tabs {
	--tab-line-color: var(--uwp-accent-color) !important;
	--tab-loading-fill: var(--uwp-accent-color) !important;
}
.tabbrowser-tab > .tab-stack > .tab-background {
	border-top: none !important;
}
.tabbrowser-tab > .tab-stack > .tab-background[selected] {
	background: #2A2A2A !important;
}
.tabbrowser-tab:hover > .tab-stack > .tab-background:not([selected]) {
	background: #2A2A2A !important;
}
.tab-throbber[progress]:not([selected="true"])::before {
    fill: #555555 !important;
}
.tabbrowser-tab::before, .tabbrowser-tab::after {
	display: none !important;
}
.tabs-newtab-button, #new-tab-button, #alltabs-button {
	color: rgba(240, 240, 240, 1) !important;
	background: transparent !important;
	margin-bottom: 0px !important;
}
.tabs-newtab-button:hover, #new-tab-button:hover, #alltabs-button:hover, .scrollbutton-up:hover, .scrollbutton-down:hover {
	background: #2A2A2A !important
}
.tabs-newtab-button:hover:active, #new-tab-button:hover:active, #alltabs-button:hover:active, .scrollbutton-up:hover:active, .scrollbutton-down:hover:active {
	background: #444 !important
}
.scrollbutton-up, .scrollbutton-down {
	margin-bottom: 0px !important;
}
.scrollbutton-up[disabled], .scrollbutton-up[disabled]:active, .scrollbutton-down[disabled], .scrollbutton-down[disabled]:active {
	background: transparent !important;
}
.tabs-newtab-button .toolbarbutton-icon {
	background: transparent !important;
}
#TabsToolbar[movingtab] {
	padding-bottom: 0px !important;
}
#TabsToolbar[movingtab] + #nav-bar {
	margin-top: 0px !important;
}
#new-tab-button > .toolbarbutton-icon, #alltabs-button > .toolbarbutton-icon {
	background-color: transparent !important;
}
#alltabs-button > .toolbarbutton-badge-stack {
	background: none !important;
}
#alltabs-button[open] {
	background: #444 !important;
}
.all-tabs-item[selected] {
    box-shadow: inset 4px 0 var(--uwp-accent-color) !important;
}
/* navbar stuff */
#nav-bar {
	box-shadow: none !important;
}
#nav-bar textbox {
	background-color: transparent !important;
}
#nav-bar textbox:hover {
	background-color: rgba(75, 75, 75, 1) !important;
}
#urlbar, .searchbar-textbox {
	border: none !important;
}
#urlbar {
	margin-left: 1px !important;
	margin-right: 1px !important;
}
window:not([chromehidden~="toolbar"]) #urlbar-container > .toolbarbutton-1:-moz-any([disabled], :not([open]):not([disabled]):not(:active)) > .toolbarbutton-icon[class], #main-window:not([customizing]) #back-button[disabled] > .toolbarbutton-icon[class] {
	background-image: none !important;
	background-color: rgba(40, 40, 40, 0) !important;
	box-shadow: none !important;
	border: 0px !important;
}
toolbarbutton.bookmark-item {
	border: none!important;
}
toolbarbutton.bookmark-item:hover {
	background-color: rgba(75, 75, 75, 1) !important;
}
toolbarbutton.bookmark-item > .toolbarbutton-text[value=""] {
	padding-right: 0px !important;
	padding-left: 0px !important;
}
#content-deck {
	-moz-appearance: -moz-win-exclude-glass !important;
}
#TabsToolbar {
	background: transparent !important;
}
#navigator-toolbox::after {
	border-bottom: 0px !important;
}
#browser vbox#appcontent tabbrowser, #content, #tabbrowser-tabpanels, browser[type=content-primary], browser[type=content] > html {
	background-color: #101010 !important;
}

#urlbar, .searchbar-textbox {
	box-shadow: none !important;
}
.close-icon > .toolbarbutton-icon {
	border-radius: 0px !important;
}

/* Findbar */
.findbar-find-previous, .findbar-find-next {
	border: none !important;
	margin-left: 5px !important;
	background: rgb(80, 80, 80) !important;
	border-radius: 0px !important;
}
findbar {
	background-color: #161616 !important;
	border-top: none !important;
}
findbar[hidden] {
	visibility: collapse !important;
	margin-bottom: -40px !important;
	opacity: 1 !important;
}
.findbar-button, .findbar-find-previous, .findbar-find-next {
	-moz-appearance: none !important;
	padding: 3px !important;
	background-color: #333333 !important;
	border: 2px #333333 solid !important;
	color: white !important;
}
.findbar-button:hover, .findbar-find-previous:hover, .findbar-find-next:hover {
	color: white !important;
	border: 2px #858585 solid !important;
}
.findbar-button:hover:active, .findbar-find-previous:hover:active, .findbar-find-next:hover:active {
	color: white !important;
	background-color: #666666 !important;
	border: 2px #858585 solid !important;
}
.findbar-button[checked="true"] {
	background-color: var(--uwp-accent-color) !important;
	border: 2px var(--uwp-accent-color) solid !important;
}
.findbar-button[checked="true"]:hover {
	color: white !important;
	border: 2px #858585 solid !important;
}
.findbar-find-previous[disabled="true"]:hover, .findbar-find-next[disabled="true"]:hover, .findbar-find-previous[disabled="true"]:hover:active, .findbar-find-next[disabled="true"]:hover:active {
	border: 2px #333333 solid !important;
	background-color: #333333 !important;
}
.toolbarbutton-text {
	padding: 3px !important;
}
.findbar-button > .toolbarbutton-text {
	background-color: transparent !important;
}
.findbar-find-previous > .toolbarbutton-text, .findbar-find-next > .toolbarbutton-text {
	padding: 0 !important;
}
.findbar-textbox {
	border-radius: 0px !important;
}
/* Panels */
.panel-arrowbox {
	display: none !important;
}
.panel-arrowcontent {
	border: none !important;
	box-shadow: none !important;
	/*box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, .40) !important;
	margin: 30px !important;
	margin-top: 8px !important;
	margin-left: 18px !important;
	margin-right: 18px !important;
	margin-bottom: 28px !important;*/
}
/* Various Panels */
#appMenu-popup {
	margin-top: -2px !important;
	margin-right: -19px !important;
}
#identity-popup {
	margin-top: 4px !important;
	margin-left: -21px !important;
}
#pageActionPanel {
	margin-top: 0px !important;
}
#editBookmarkPanel .panel-arrowcontent {
	margin-top: 8px !important;
}
#editBookmarkPanelFavicon {
	display: none !important;
}
#editBMPanel_folderRow .menulist-label-box {
	fill: white !important;
}
#editBMPanel_folderRow .menulist-label {
	color: white !important;
	padding-left: 5px !important;
}
#editBookmarkPanelImage {
	border-bottom: none !important;
}
#editBookmarkPanel .panel-header {
	border-bottom: none !important;
}
#notification-popup {
	margin-top: 4px !important;
}
#widget-overflow {
	margin-top: -2px !important;
}
/* URL Panel */
#PopupAutoCompleteRichResult {
	border: none !important;
}
.autocomplete-richlistbox {
	padding: 0 !important;
	background: rgb(42, 42, 42) !important;
}
.autocomplete-richlistitem {
	background: rgb(42, 42, 42) !important;
}
.search-panel-one-offs {
	background-color: #333333 !important;
}
.searchbar-engine-one-off-item {
	min-width: 38px !important;
}
.search-setting-button-compact {
	height: 22px !important;
}
button.dummy:hover {
	border: 2px #333333 solid !important;
}
/* Tracking toggle */
#appMenu-tp-toggle {
	margin-top: 6px !important;
	margin-bottom: 6px !important;
}
#appMenu-tp-toggle[enabled="true"] {
	background-color: var(--uwp-accent-color) !important;
	border: 1px solid var(--uwp-accent-color) !important;
}
#appMenu-tp-toggle > .toolbarbutton-text {
	padding: 0px !important;
}
#customizationui-widget-panel {
	margin-top: -2px !important;
}
/* Customization Page Overflow */
#customization-panelWrapper > .panel-arrowcontent {
	background: rgba(42, 42, 42, 1) !important;
}
#customization-panel-container {
	padding-right: 0px !important;
}
/* Sync Icon */
#appMenu-fxa-icon[syncstatus="active"] > .toolbarbutton-icon, #PanelUI-remotetabs-syncnow[syncstatus="active"] > .toolbarbutton-icon {
	fill: var(--uwp-accent-color) !important;
}
/* Sidebar */
#sidebar-header {
	background: #2A2A2A !important;
	color: white !important;
	border-bottom: none !important;
}
#sidebar-switcher-target > #sidebar-icon {
	fill: white !important;
}
#sidebar-search-container {
	background: black !important;
}
#sidebar-splitter {
	border-right: none !important;
	margin: 0px !important;
	width: 0px !important;
	min-width: 0px !important;
}
#sidebar-box {
	background-color: black !important;
}
/* Status Panel */
#statuspanel-label {
	background-color: #2A2A2A !important;
	color: lightgray !important;
	border: none !important;
	padding: 4px !important;
	box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, .5) !important;
}
::selection {
	color: white !important;
	background-color: var(--uwp-accent-color) !important;
}
:root {
	--titlebar-min-max-hover-bg-color: rgba(42, 42, 42, 1);
	--titlebar-min-max-active-bg-color: #444;
	--titlebar-close-hover-bg-color: #E81123;
	--titlebar-close-active-bg-color: #F06F79;
	--toolbarbutton-border-radius: 0px !important;
	--tab-min-height: 32px !important;
	--arrowpanel-background: #2A2A2A !important;
	--arrowpanel-dimmed: #2A2A2A !important;
	--chrome-background-color: black !important;
	--chrome-secondary-background-color: #2A2A2A !important;
}
