/* Titlebar */
.titlebar-button {
	width: 46px !important;
	height: 32px !important;
	stroke: var(--uwp-titlebar) !important;
}
.titlebar-button > .toolbarbutton-text {
	display: none !important;
}
#minimize-button, #restore-button, #close-button {
	width: 46px !important;
	height: 32px !important;
}
#restore-button {
	list-style-image: url(../img/titlebox-full-restore.png) !important;
}
#main-window[sizemode="fullscreen"] #minimize-button {
	padding-top: 8px !important;
}
.titlebar-min {
	padding-bottom: 7px !important;
}
.titlebar-min:hover, .titlebar-max:hover, #minimize-button:hover, #restore-button:hover {
	background-color: var(--titlebar-min-max-hover-bg-color) !important;
}
.titlebar-min:hover:active, .titlebar-max:hover:active, #minimize-button:hover:active, #restore-button:hover:active {
	background-color: var(--titlebar-min-max-active-bg-color) !important;
}
.titlebar-close:hover, #close-button:hover {
	background-color: var(--titlebar-close-hover-bg-color)	!important;
}
.titlebar-close:hover:active, #close-button:hover:active {
	background-color: var(--titlebar-close-active-bg-color) !important;
}
.titlebar-spacer[type="pre-tabs"] {
	display: none !important;
}
.titlebar-spacer[type="post-tabs"] {
	width: 50px !important;
}
.titlebar-buttonbox-container, #window-controls {
	margin-bottom: 0px !important;
	-moz-box-align: start !important;
}

/* Window */
/* Temporal fix for top border */
#main-window {
	background-color: var(--uwp-mainwindow) !important;
}
/*
#main-window[chromemargin] {
	background-color: var(--uwp-mainwindow) !important;
	-moz-appearance: -moz-win-glass !important;
}
#main-window[sizemode="normal"][tabsintitlebar="true"] {
	margin-top: 1px !important;
}*/
/* Tabs */
.toolbar-items > spacer:first-of-type {
	display: none !important;
}
#tabbrowser-tabs:-moz-window-inactive {
	--tab-line-color: rgb(128, 128, 128) !important;
}
#tabbrowser-tabs {
	--tab-line-color: var(--uwp-accent-color) !important;
	--tab-loading-fill: var(--uwp-accent-color) !important;
}
.tabbrowser-tab > .tab-stack > .tab-background {
	border-top: none !important;
}
.tabbrowser-tab:hover > .tab-stack > .tab-background:not([selected]) {
	background: var(--uwp-tabbar-tab-hover) !important;
}
.tab-throbber[progress]:not([selected="true"])::before {
    fill: #555555 !important;
}
.tabbrowser-tab::before, .tabbrowser-tab::after {
	display: none !important;
}
.scrollbutton-up, .scrollbutton-down {
	margin-bottom: 0px !important;
}
.scrollbutton-up[disabled], .scrollbutton-up[disabled]:active, .scrollbutton-down[disabled], .scrollbutton-down[disabled]:active {
	background: transparent !important;
}
/* Toolbar buttons */
.toolbar-items .toolbarbutton-1 {
	margin-bottom: 0px !important;
}
.toolbar-items .toolbarbutton-1:hover {
	background: var(--uwp-tabbar-button-hover) !important;
}
.toolbar-items .toolbarbutton-1:hover:active {
	background: var(--uwp-tabbar-button-hover-active) !important;
}
.toolbar-items .toolbarbutton-1 > .toolbarbutton-icon {
	background: none !important;
}
#PlacesToolbar .bookmark-item {
	padding: 4px !important;
}
:root:not([uidensity="compact"]):not([chromehidden~="toolbar"]) #nav-bar > #PanelUI-button {
	border: none !important;
}
/* navbar stuff */
#nav-bar {
	box-shadow: none !important;
}
#content-deck, #browser {
	/*-moz-appearance: -moz-win-exclude-glass !important;*/
}
#navigator-toolbox, #navigator-toolbox::after {
	border-bottom: 0px !important;
}
#browser vbox#appcontent tabbrowser, #content, #tabbrowser-tabpanels, browser[type=content-primary], browser[type=content] > html {
	background: var(--uwp-browser) !important;
}
#tracking-protection-icon-container, #identity-box {
	border: none !important;
}
/* Findbar */
.findbar-find-previous, .findbar-find-next {
	border: none !important;
	margin-left: 5px !important;
	border-radius: 0px !important;
}
findbar {
	background-color: var(--uwp-findbar-background) !important;
	border-top: none !important;
}
findbar[hidden] {
	visibility: collapse !important;
	margin-bottom: -40px !important;
	opacity: 1 !important;
}
.findbar-button, .findbar-find-previous, .findbar-find-next {
	-moz-appearance: none !important;
	padding: 3px !important;
	background-color: var(--uwp-tags-button) !important;
	border: 2px var(--uwp-tags-button) solid !important;
	color: var(--uwp-global-front) !important;
}
.findbar-button:hover, .findbar-find-previous:hover, .findbar-find-next:hover {
	color: var(--uwp-global-front) !important;
	border: 2px var(--uwp-tags-button-hover) solid !important;
}
.findbar-button:hover:active, .findbar-find-previous:hover:active, .findbar-find-next:hover:active {
	color: var(--uwp-global-front) !important;
	background-color: var(--uwp-tags-button-hover-active) !important;
	border: 2px var(--uwp-tags-button-hover-active) solid !important;
}
.findbar-button[checked="true"] {
	background-color: var(--uwp-accent-color) !important;
	border: 2px var(--uwp-accent-color) solid !important;
	color: var(--uwp-accent-text) !important;
}
.findbar-button[checked="true"]:hover {
	color: var(--uwp-accent-text) !important;
	border: 2px var(--uwp-tags-button-hover) solid !important;
}
.findbar-find-previous[disabled="true"]:hover, .findbar-find-next[disabled="true"]:hover, .findbar-find-previous[disabled="true"]:hover:active, .findbar-find-next[disabled="true"]:hover:active {
	border: 2px var(--uwp-tags-button) solid !important;
	background-color: var(--uwp-tags-button) !important;
}
.findbar-button > .toolbarbutton-text {
	padding: 3px !important;
}
.findbar-button > .toolbarbutton-text {
	background-color: transparent !important;
}
.findbar-find-previous > .toolbarbutton-text, .findbar-find-next > .toolbarbutton-text {
	padding: 0 !important;
}
.findbar-textbox {
	border-radius: 0px !important;
}
/* Panels */
.panel-arrowbox {
	display: none !important;
}
.panel-arrowcontent {
	border: none !important;
	box-shadow: none !important;
	/*box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, .40) !important;
	margin: 30px !important;
	margin-top: 8px !important;
	margin-left: 18px !important;
	margin-right: 18px !important;
	margin-bottom: 28px !important;*/
}
panel .text-link {
	color: var(--uwp-accent-color) !important;
}
/* Various Panels */
#appMenu-popup {
	margin-top: -2px !important;
	margin-right: -19px !important;
}
#identity-popup {
	margin-top: 4px !important;
	margin-left: -21px !important;
}
#pageActionPanel {
	margin-top: 0px !important;
}
#editBookmarkPanel .panel-arrowcontent {
	margin-top: 8px !important;
}
#editBookmarkPanelFavicon {
	display: none !important;
}
#editBMPanel_folderRow .menulist-label-box {
	fill: white !important;
}
#editBMPanel_folderRow .menulist-label {
	color: white !important;
	padding-left: 5px !important;
}
#editBookmarkPanelImage {
	border-bottom: none !important;
}
#editBookmarkPanel .panel-header {
	border-bottom: none !important;
}
#notification-popup {
	margin-top: 4px !important;
}
#widget-overflow {
	margin-top: -2px !important;
}
#appMenu-notification-popup {
	margin-top: -2px !important;
}
/* URL Panel Post-71 */
#urlbar-background {
	display: none !important;
}
#urlbar {
	margin: 0px !important;
}
#urlbar[breakout][breakout-extend] {
	top: 0px !important;
	left: 0px !important;
	width: 100% !important;
}
#urlbar-input-container {
	border: none !important;
}
#urlbar-input-container:hover {
	background-color: var(--uwp-navbar-background-hover) !important;
}
#urlbar[breakout][breakout-extend] > #urlbar-input-container {
    height: calc(var(--urlbar-toolbar-height)) !important;
    padding-block: 0px !important;
    padding-inline: 0px !important;
}
.urlbarView-results {
	padding-block: 0px !important;
}
.urlbarView-row {
	padding-inline: 8px !important;
	border-radius: 0px !important;
}
.urlbarView-title {
	height: 18px !important;
}
.urlbarView.megabar {
	margin-inline: 0px !important;
	border: none !important;
	width: 100% !important;
	background-color: var(--uwp-autocomplete-list) !important;
	box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, .32) !important;
	clip-path: inset(0px -20px -30px -20px) !important;
	animation: none !important;
}
.urlbarView.megabar .urlbarView-body-inner {
	border: none !important;
}
@supports(backdrop-filter: blur(1px)) {
	.urlbarView.megabar {
		background-image: url(../img/noise-512x512.png) !important;
		background-color: var(--uwp-urlbar-blur) !important;
		backdrop-filter: blur(32px) !important;
	}
}
/* Tracking toggle */
#appMenu-tp-toggle {
	margin-top: 6px !important;
	margin-bottom: 6px !important;
}
#appMenu-tp-toggle[enabled="true"] {
	background-color: var(--uwp-accent-color) !important;
	border: 1px solid var(--uwp-accent-color) !important;
}
#appMenu-tp-toggle > .toolbarbutton-text {
	padding: 0px !important;
}
#customizationui-widget-panel {
	margin-top: -2px !important;
}
/* Customization Page Overflow */
#customization-panel-container {
	padding-right: 0px !important;
}
/* Sync Icon */
#appMenu-fxa-icon[syncstatus="active"] > .toolbarbutton-icon, #PanelUI-remotetabs-syncnow[syncstatus="active"] > .toolbarbutton-icon {
	fill: var(--uwp-accent-color) !important;
}
/* Sidebar */
#sidebar-header {
	background: var(--uwp-sidebar) !important;
	color: var(--uwp-global-front) !important;
	border-bottom: none !important;
}
#sidebar-switcher-target > #sidebar-icon {
	fill: var(--uwp-global-front) !important;
}
#sidebar-search-container {
	background: var(--uwp-sidebar-search) !important;
}
#sidebar-splitter {
	border: none !important;
}
#sidebar-box {
	background-color: var(--uwp-sidebar-box) !important;
}
body[lwt-sidebar] {
	background-color: var(--uwp-global-back) !important;
}
/* Status Panel */
#statuspanel-label {
	background-color: var(--uwp-statuspanel) !important;
	color: var(--uwp-global-front) !important;
	border: none !important;
	padding: 4px !important;
	box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, .5) !important;
}
@supports(backdrop-filter: blur(1px)) {
	#statuspanel-label {
		background-image: url(../img/noise-512x512.png) !important;
		background-color: var(--uwp-urlbar-blur) !important;
		backdrop-filter: blur(32px) !important;
	}
}
/* Notifications? */
notification {
	background-color: var(--uwp-bottom-background) !important;
	border: none !important;
	color: var(--uwp-global-front) !important;
}
/* FXA Panel */
.PanelUI-fxa-signin-button {
	padding: 3px !important;
	background-color: var(--uwp-tags-button) !important;
	border: 2px var(--uwp-tags-button) solid !important;
	border-radius: 0px !important;
	color: var(--uwp-tags-button-color) !important;
}
.PanelUI-fxa-signin-button:hover {
	border-color: var(--uwp-tags-button-hover) !important;
}
.PanelUI-fxa-signin-button:hover:active {
	background-color: var(--uwp-tags-button-hover-active) !important;
	border-color: var(--uwp-tags-button-hover-active) !important;
}
#PanelUI-fxa-menu-syncnow-button[syncstatus="active"] > .toolbarbutton-icon {
	fill: var(--uwp-accent-color) !important;
}
:root {
	--toolbarbutton-border-radius: 0px !important;
	--tab-min-height: 32px !important;
}
/* Temporal fix for top border */
:root[sizemode="normal"][tabsintitlebar]:-moz-window-inactive {
    border-top-color: #2B2B2B !important;
}

/* Testing shadows  */
/*
:root {
	--chrome-background-color: #202020 !important;
}
:root:-moz-window-inactive {
	--chrome-background-color: #101010 !important;
}
#nav-bar {
	box-shadow: 0px -2px 10px 2px rgba(0, 0, 0, .4) !important;
	clip-path: inset(-20px 0px 0px 0px) !important;
}
.tabbrowser-tab > .tab-stack > .tab-background[selected] {
	box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, .4) !important;
}
.titlebar-button {
	clip-path: inset(0px -20px 0px -20px) !important;
}
.titlebar-button:hover {
	box-shadow: 0px -2px 10px 2px rgba(0, 0, 0, .4) !important;
	clip-path: inset(0px -20px 0px -20px) !important;
}
.tabs-newtab-button:hover, #new-tab-button:hover, #alltabs-button:hover, .scrollbutton-up:hover, .scrollbutton-down:hover {
	box-shadow: 0px -2px 10px 2px rgba(0, 0, 0, .4) !important;
	z-index: 2 !important;
	position: relative !important;
	clip-path: inset(0px -20px 0px -20px) !important;
}
*/
