/* Titlebar */
.titlebar-button {
	width: 46px !important;
	height: 32px !important;
	stroke: var(--uwp-titlebar) !important;
}
.titlebar-button > .toolbarbutton-text {
	display: none !important;
}
#minimize-button, #restore-button, #close-button {
	width: 46px !important;
	height: 32px !important;
}
#restore-button {
	list-style-image: url(../img/titlebox-full-restore.png) !important;
}
#main-window[sizemode="fullscreen"] #minimize-button {
	padding-top: 8px !important;
}
.titlebar-min {
	padding-bottom: 7px !important;
}
.titlebar-min:hover, .titlebar-max:hover, #minimize-button:hover, #restore-button:hover {
	background-color: var(--titlebar-min-max-hover-bg-color) !important;
}
.titlebar-min:hover:active, .titlebar-max:hover:active, #minimize-button:hover:active, #restore-button:hover:active {
	background-color: var(--titlebar-min-max-active-bg-color) !important;
}
.titlebar-close:hover, #close-button:hover {
	background-color: var(--titlebar-close-hover-bg-color)	!important;
}
.titlebar-close:hover:active, #close-button:hover:active {
	background-color: var(--titlebar-close-active-bg-color) !important;
}
.titlebar-spacer[type="pre-tabs"] {
	display: none !important;
}
.titlebar-spacer[type="post-tabs"] {
	width: 50px !important;
}
.titlebar-buttonbox-container, #window-controls {
	margin-bottom: 0px !important;
	-moz-box-align: start !important;
}

/* Window */
/* Temporal fix for top border */
#main-window {
	background-color: var(--uwp-mainwindow) !important;
}
/*
#main-window[chromemargin] {
	background-color: var(--uwp-mainwindow) !important;
	-moz-appearance: -moz-win-glass !important;
}
#main-window[sizemode="normal"][tabsintitlebar="true"] {
	margin-top: 1px !important;
}*/
/* Tabs */
.toolbar-items > spacer:first-of-type {
	display: none !important;
}
#tabbrowser-tabs:-moz-window-inactive {
	--tab-line-color: rgb(128, 128, 128) !important;
}
#tabbrowser-tabs {
	--tab-line-color: -moz-accent-color !important;
	--tab-loading-fill: -moz-accent-color !important;
}
.tabbrowser-tab {
	padding: 0px !important;
}
.tabbrowser-tab > .tab-stack > .tab-background {
	border-top: none !important;
	margin: 0px !important;
	box-shadow: none !important;
	border-radius: 0px !important;
	opacity: 1 !important;
}
.tabbrowser-tab:hover > .tab-stack > .tab-background:not([selected]) {
	background: var(--uwp-tabbar-tab-hover) !important;
}
.tabbrowser-tab .tab-context-line {
	height: 0px !important;
	background: var(--identity-tab-color) !important;
	margin-left: 16px !important;
	margin-right: 16px !important;
	transition: margin 200ms !important;
	margin-top: 0px !important;
}
.tabbrowser-tab:not([class*="identity-color"]) .tab-context-line {
	background: -moz-accent-color !important;
}
.tabbrowser-tab .tab-context-line:-moz-window-inactive {
	background: rgb(128, 128, 128) !important;
}
.tabbrowser-tab:is([selected="true"], [multiselected="true"]) .tab-context-line, .tabbrowser-tab:hover .tab-context-line {
	height: 2px !important;
	margin-left: 0px !important;
	margin-right: 0px !important;
}
.tab-icon-overlay {
	opacity: 1 !important;
	left: 4px !important;
	bottom: 4px !important;
	fill: var(--uwp-global-front) !important;
	fill-opacity: 1 !important;
	padding: 0px !important;
}
.tab-icon-stack .tab-icon-image {
	opacity: 1 !important;
}
:root[tabsintitlebar]:not(:-moz-window-inactive) {
	 color: var(--uwp-global-front) !important;
}
.tab-throbber[progress]:not([selected="true"])::before {
    fill: #555555 !important;
}
.tabbrowser-tab::before, .tabbrowser-tab::after {
	display: none !important;
}
.all-tabs-item {
	margin-inline: 0px !important;
	border-radius: 0px !important;
}
#scrollbutton-up, #scrollbutton-down {
	margin-bottom: 0px !important;
    border: none !important;
	border-radius: 0 !important;
}
#scrollbutton-up:hover, #scrollbutton-down:hover {
	background: var(--uwp-tabbar-button-hover) !important;
}
#scrollbutton-up:hover:active, #scrollbutton-down:hover:active {
	background: var(--uwp-tabbar-button-hover-active) !important;
}
/* Toolbar buttons */
.toolbar-items .toolbarbutton-1 {
	margin-bottom: 0px !important;
}
.toolbar-items .toolbarbutton-1:hover {
	background: var(--uwp-tabbar-button-hover) !important;
}
.toolbar-items .toolbarbutton-1:hover:active {
	background: var(--uwp-tabbar-button-hover-active) !important;
}
.toolbar-items .toolbarbutton-1 > .toolbarbutton-icon {
	background: none !important;
}
toolbarbutton.subviewbutton {
	box-shadow: none !important;
}
#PlacesToolbar .bookmark-item {
	padding: 4px !important;
}
:root:not([uidensity="compact"]):not([chromehidden~="toolbar"]) #nav-bar > #PanelUI-button {
	border: none !important;
}
/* navbar stuff */
#nav-bar {
	box-shadow: none !important;
}
#content-deck, #browser {
	/*-moz-appearance: -moz-win-exclude-glass !important;*/
}
#navigator-toolbox, #navigator-toolbox::after {
	border-bottom: 0px !important;
}
#navigator-toolbox {
	background: var(--uwp-mainwindow) !important;
}
#browser vbox#appcontent tabbrowser, #content, #tabbrowser-tabpanels, browser[type=content-primary], browser[type=content] > html {
	background: var(--uwp-browser) !important;
}
#tracking-protection-icon-container, #identity-box {
	border: none !important;
}
#identity-box[pageproxystate="valid"]  .identity-box-button {
	background: transparent !important;
}
/* Findbar */
.findbar-find-previous, .findbar-find-next {
	border: none !important;
	margin-left: 5px !important;
	border-radius: 0px !important;
}
findbar {
	background-color: var(--uwp-findbar-background) !important;
	border-top: none !important;
}
findbar[hidden] {
	visibility: collapse !important;
	margin-bottom: -40px !important;
	opacity: 1 !important;
}
.findbar-button, .findbar-find-previous, .findbar-find-next {
	-moz-appearance: none !important;
	padding: 3px !important;
	background-color: var(--uwp-tags-button) !important;
	border: 2px var(--uwp-tags-button) solid !important;
	color: var(--uwp-global-front) !important;
}
.findbar-button:hover, .findbar-find-previous:hover, .findbar-find-next:hover {
	color: var(--uwp-global-front) !important;
	border: 2px var(--uwp-tags-button-hover) solid !important;
}
.findbar-button:hover:active, .findbar-find-previous:hover:active, .findbar-find-next:hover:active {
	color: var(--uwp-global-front) !important;
	background-color: var(--uwp-tags-button-hover-active) !important;
	border: 2px var(--uwp-tags-button-hover-active) solid !important;
}
.findbar-button[checked="true"] {
	background-color: -moz-accent-color !important;
	border: 2px -moz-accent-color solid !important;
	color: -moz-accent-color-foreground !important;
}
.findbar-button[checked="true"]:hover {
	color: -moz-accent-color-foreground !important;
	border: 2px var(--uwp-tags-button-hover) solid !important;
}
.findbar-find-previous[disabled="true"]:hover, .findbar-find-next[disabled="true"]:hover, .findbar-find-previous[disabled="true"]:hover:active, .findbar-find-next[disabled="true"]:hover:active {
	border: 2px var(--uwp-tags-button) solid !important;
	background-color: var(--uwp-tags-button) !important;
}
.findbar-button > .toolbarbutton-text {
	padding: 3px !important;
}
.findbar-button > .toolbarbutton-text {
	background-color: transparent !important;
}
.findbar-find-previous > .toolbarbutton-text, .findbar-find-next > .toolbarbutton-text {
	padding: 0 !important;
}
.findbar-textbox {
	border-radius: 0px !important;
}
/* Panels */
.panel-arrowbox {
	display: none !important;
}
.panel-arrowcontent {
	border: none !important;
	border-radius: 0px !important;
	box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, .32) !important;
	margin: 30px !important;
	margin-top: 10px !important;
	margin-left: 20px !important;
	margin-right: 20px !important;
	margin-bottom: 30px !important;
}
.panel-subview-footer-button {
	margin-bottom: 0px !important;
}
.addon-banner-item, .panel-banner-item {
	border-radius: 0px !important;
	margin: 0px !important;
	margin-inline: 0px !important;
	padding: var(--arrowpanel-menuitem-padding) !important;
}
.addon-banner-item > .toolbarbutton-text, .panel-banner-item > .toolbarbutton-text {
	margin: 0px !important;
}
panel .text-link {
	color: -moz-accent-color !important;
}
/* Various Panels */
#appMenu-popup {
	margin-top: -10px !important;
	margin-right: -33px !important;
}
#identity-popup, #permission-popup {
	margin-top: -10px !important;
	margin-left: -31px !important;
}
#pageActionPanel {
	margin-top: -5px !important;
	margin-right: -30px !important;
}
#editBookmarkPanel {
	margin-top: -10px !important;
	margin-right: -32px !important;
}
#editBookmarkPanelFavicon {
	display: none !important;
}
#editBMPanel_folderRow .menulist-label-box {
	fill: white !important;
}
#editBMPanel_folderRow .menulist-label {
	color: white !important;
	padding-left: 5px !important;
}
#editBookmarkPanelImage {
	border-bottom: none !important;
}
#editBookmarkPanel .panel-header {
	border-bottom: none !important;
}
#notification-popup {
	margin-top: -2px !important;
	margin-left: -32px !important;
}
#widget-overflow, #downloadsPanel {
	margin-top: -10px !important;
	margin-right: -34px !important;
}
#appMenu-notification-popup {
	margin-top: -10px !important;
	margin-right: -33px !important;
}
.whatsNew-message-body {
	background: transparent !important;
	border: none !important;
}
#protections-popup {
	margin-top: -10px !important;
	margin-left: -31px !important;
}
#customizationui-widget-panel {
	margin-right: -34px !important;
	margin-top: -10px !important;
}
#customization-uidensity-menu {
	margin-bottom: -30px !important;
	margin-left: -120px !important;
}
#customization-uidensity-button {
	width: 200px !important;
}
#customization-uidensity-menuitem-compact {
	width: 184px !important;
}
#customization-uidensity-autotouchmode-checkbox {
	width: 175px !important;
	margin-left: 0px !important;
}
#customization-lwtheme-menu > .panel-arrowcontainer > box.panel-arrowcontent {
	background: #2B2B2B !important;
	border: 1px #2B2B2B solid !important;
}
#customization-uidensity-menu > .panel-arrowcontainer > box.panel-arrowcontent {
	background: #2B2B2B !important;
	border: 1px #2B2B2B solid !important;
}
#customization-lwtheme-menu {
	margin-bottom: -30px !important;
	margin-left: -120px !important;
}
#customization-lwtheme-button {
	width: 200px !important;
}
#customization-lwtheme-menu-header {
	width: 200px !important;
}
#customization-lwtheme-menu-recommended, #customization-lwtheme-menu-footer {
	display: none !important;
}
#customization-uidensity-touch-spacer {
	border-top-color: var(--uwp-context-separator) !important;
}
.customization-uidensity-menuitem, .customization-lwtheme-menu-theme {
	border-radius: 0px !important;
}
/* Old */
#urlbar {
	border: none !important;
	box-shadow: none !important;
	font-size: 1.15em !important;
	--urlbar-toolbar-height: var(--uwp-urlbar-height) !important;
}
#urlbar-container {
	--urlbar-container-height: var(--uwp-urlbar-height) !important;
}
/*#urlbar:not(.megabar) {
	background-color: var(--uwp-autocomplete-list) !important;
}*/
/* Megabar */
#urlbar-background {
	display: none !important;
}
#urlbar[breakout][breakout-extend] {
	top: 0px !important;
	left: 0px !important;
	width: 100% !important;
}
#urlbar-input-container, #searchbar {
	border: none !important;
	background-color: var(--uwp-urlbar) !important;
	padding-left: 1px !important;
	padding-right: 1px !important;
}
#urlbar-input-container:hover, #searchbar:hover {
	background-color: var(--uwp-navbar-background-hover) !important;
}
#urlbar[breakout][breakout-extend] > #urlbar-input-container {
    height: var(--urlbar-toolbar-height) !important;
}
#urlbar-results {
	padding: 0px !important;
}
.urlbarView {
	margin-inline: 0px !important;
	border: none !important;
	width: 100% !important;
	background-color: var(--uwp-autocomplete-list) !important;
	box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, .32) !important;
	clip-path: inset(0px -20px -30px -20px) !important;
	animation: none !important;
	margin-block-start: 0px !important;
}
.urlbarView-results {
	padding-block: 0px !important;
}
.urlbarView .urlbarView-row {
	border-radius: 0px !important;
	padding-block: 0px !important;
}
.urlbarView-row-inner {
	border-radius: 0px !important;
}
.urlbarView-body-inner {
	border: none !important;
}
.urlbarView-title {
	height: 18px !important;
}
.urlbarView-row[type="tip"] > .urlbarView-row-inner {
    min-height: unset !important;
	padding-block: 0px !important;
}
.urlbarView-row[type="tip"] > .urlbarView-row-inner > .urlbarView-favicon, .urlbarView-row[type="tip"] > .urlbarView-row-inner > .urlbarView-title, .urlbarView-tip-button, .urlbarView-tip-help {
    margin-block-end: 0px !important;
}
.urlbarView-row[type="tip"]:not(:first-child) {
    margin-top: 0px !important;
}
.urlbarView-row[type="tip"]:not(:last-child) {
    margin-bottom: 0px !important;
}
.urlbarView-row[type="tip"] > .urlbarView-row-inner > .urlbarView-favicon {
    width: 16px !important;
    height: 16px !important;
    flex-basis: 16px !important;
}
.urlbarView-row[selected] > .urlbarView-row-inner > .urlbarView-no-wrap > .urlbarView-action {
	color: var(--uwp-global-front) !important;
}
.urlbarView-tip-help {
	height: 28px !important;
	box-shadow: none !important;
}
.urlbarView-tip-help[selected] {
	background-color: var(--uwp-tags-button-hover-active) !important;
}
.urlbarView-tip-button {
	font-size: unset !important;
}
#urlbar .search-one-offs:not([hidden]) {
	padding-block: 0px !important;
}
#urlbar .searchbar-engine-one-off-item {
    margin-inline-end: 0px !important;
}
@supports(backdrop-filter: blur(1px)) {
	.urlbarView {
		background-image: url(../img/noise-512x512.png) !important;
		background-color: var(--uwp-urlbar-blur) !important;
		backdrop-filter: blur(32px) !important;
	}
}
/* Tracking toggle */
#appMenu-tp-toggle {
	margin-top: 6px !important;
	margin-bottom: 6px !important;
}
#appMenu-tp-toggle[enabled="true"] {
	background-color: -moz-accent-color !important;
	border: 1px solid -moz-accent-color !important;
}
#appMenu-tp-toggle > .toolbarbutton-text {
	padding: 0px !important;
}
/* Customization Page Overflow */
#customization-panel-container {
	padding-right: 0px !important;
}
/* Sync Icon */
#appMenu-fxa-icon[syncstatus="active"] > .toolbarbutton-icon, #PanelUI-remotetabs-syncnow[syncstatus="active"] > .toolbarbutton-icon {
	fill: -moz-accent-color !important;
}
/* Sidebar */
#sidebar-header {
	background: var(--uwp-sidebar) !important;
	color: var(--uwp-global-front) !important;
	border-bottom: none !important;
}
#sidebar-switcher-target > #sidebar-icon {
	fill: var(--uwp-global-front) !important;
}
#sidebar-search-container {
	background: var(--uwp-sidebar-search) !important;
}
#sidebar-splitter {
	border: none !important;
}
#sidebar-box {
	background-color: var(--uwp-sidebar-box) !important;
}
body[lwt-sidebar] {
	background-color: var(--uwp-global-back) !important;
}
/* Status Panel */
#statuspanel-label {
	background-color: var(--uwp-statuspanel) !important;
	color: var(--uwp-global-front) !important;
	border: none !important;
	padding: 4px !important;
	box-shadow: -10px 10px 10px 14px rgba(0, 0, 0, .5) !important;
}
@supports(backdrop-filter: blur(1px)) {
	#statuspanel-label {
		background-image: url(../img/noise-512x512.png) !important;
		background-color: var(--uwp-urlbar-blur) !important;
		backdrop-filter: blur(32px) !important;
	}
}
/* Notifications? */
notification {
	background-color: var(--uwp-bottom-background) !important;
	border: none !important;
	color: var(--uwp-global-front) !important;
}
/* FXA Panel */
.PanelUI-fxa-signin-button {
	padding: 3px !important;
	background-color: var(--uwp-tags-button) !important;
	border: 2px var(--uwp-tags-button) solid !important;
	border-radius: 0px !important;
	color: var(--uwp-tags-button-color) !important;
}
.PanelUI-fxa-signin-button:hover {
	border-color: var(--uwp-tags-button-hover) !important;
}
.PanelUI-fxa-signin-button:hover:active {
	background-color: var(--uwp-tags-button-hover-active) !important;
	border-color: var(--uwp-tags-button-hover-active) !important;
}
#PanelUI-fxa-menu-syncnow-button[syncstatus="active"] > .toolbarbutton-icon {
	fill: -moz-accent-color !important;
}
#fullscreen-warning {
	border: none !important;
	box-shadow: none !important;
	border-radius: 0px !important;
	background-color: var(--uwp-autocomplete-list) !important;
	box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, .32) !important;
}
.pointerlockfswarning[ontop] {
	transform: translate(-50%, 10px) !important;
}
@supports(backdrop-filter: blur(1px)) {
	#fullscreen-warning {
		background-image: url(../img/noise-512x512.png) !important;
		background-color: var(--uwp-urlbar-blur) !important;
		backdrop-filter: blur(32px) !important;
	}
}
.ctrlTab-preview > .ctrlTab-preview-inner, #ctrlTab-showAll {
	border: 2px solid transparent !important;
	background: transparent !important;
}
.ctrlTab-preview:focus > .ctrlTab-preview-inner, #ctrlTab-showAll:focus {
	border: 2px solid white !important;
}
.ctrlTab-preview, #ctrlTab-showAll {
	color: var(--uwp-global-front) !important;
	text-shadow: none !important;
}
.ctrlTab-preview, .ctrlTab-preview:hover:active {
	background: transparent !important;
	border: none !important;
}
.ctrlTab-preview-inner {
	border: none !important;
	border-radius: 0px !important;
}
.ctrlTab-canvas {
	box-shadow: none !important;
	transition: transform 100ms !important;
}
.ctrlTab-preview:hover:active .ctrlTab-canvas {
	transform: scale(0.95) !important;
	transition: transform 100ms !important;
}
#ctrlTab-panel {
	background-color: var(--uwp-context-background-blur) !important;
}
.container.infobar {
	background: transparent !important;
	border: none !important;
	box-shadow: none !important;
	border-radius: 0px !important;
}
.container.infobar::before {
	display: none !important;
}
.infobar > .icon {
	color: -moz-accent-color !important;
	margin-left: 8px !important;
}
:root {
	--toolbarbutton-border-radius: 0px !important;
	--tab-min-height: 32px !important;
	--lwt-selected-tab-background-color: var(--toolbar-bgcolor) !important;
	--toolbarbutton-outer-padding: 0px !important;
	--uwp-urlbar-height: 32px !important;
	--arrowpanel-menuitem-margin: 0px !important;
	--arrowpanel-menuitem-border-radius: 0px !important;
	--panel-subview-body-padding: 0px !important;
	--arrowpanel-menuitem-padding: 8px 10px !important;
	--panel-banner-item-background-color: transparent !important;
	--toolbar-start-end-padding: 0px !important;
	--urlbarView-item-inline-padding: 8px !important;
	--urlbar-box-bgcolor: var(--urlbar-result-hover-bgcolor) !important;
	--toolbarbutton-hover-background: var(--uwp-navbar-button-hover) !important;
	--toolbarbutton-active-background: var(--uwp-tabbar-button-hover-active) !important;
	--urlbar-box-bgcolor: transparent !important;
	--tab-border-radius: 0px !important;
	--panel-font-size: 12px !important;
	--lwt-toolbarbutton-icon-fill-attention: -moz-accent-color !important;
}
:root[uidensity="touch"] {
	--tab-min-height: 42px !important;
	--uwp-urlbar-height: 42px !important;
	--toolbarbutton-inner-padding: 8px !important;
}
/* Temporal fix for top border */
:root[sizemode="normal"][tabsintitlebar]:-moz-window-inactive {
    border-top-color: #2B2B2B !important;
}

/* Testing shadows  */
/*
:root {
	--chrome-background-color: #202020 !important;
}
:root:-moz-window-inactive {
	--chrome-background-color: #101010 !important;
}
#nav-bar {
	box-shadow: 0px -2px 10px 2px rgba(0, 0, 0, .4) !important;
	clip-path: inset(-20px 0px 0px 0px) !important;
}
.tabbrowser-tab > .tab-stack > .tab-background[selected] {
	box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, .4) !important;
}
.titlebar-button {
	clip-path: inset(0px -20px 0px -20px) !important;
}
.titlebar-button:hover {
	box-shadow: 0px -2px 10px 2px rgba(0, 0, 0, .4) !important;
	clip-path: inset(0px -20px 0px -20px) !important;
}
.tabs-newtab-button:hover, #new-tab-button:hover, #alltabs-button:hover, .scrollbutton-up:hover, .scrollbutton-down:hover {
	box-shadow: 0px -2px 10px 2px rgba(0, 0, 0, .4) !important;
	z-index: 2 !important;
	position: relative !important;
	clip-path: inset(0px -20px 0px -20px) !important;
}
*/
