@-moz-document url-prefix("chrome://"), url-prefix("about:") {

	menupopup {
		-moz-appearance: none !important;
		padding: 8px 0px 8px 0px !important;
		background-color: #2B2B2B !important;
		border: 1px #2B2B2B solid !important;
		min-width: 280px !important;
	}
	menuseparator {
		-moz-appearance: none !important;
		border: none !important;
		padding: .5px 0px .5px 0px !important;
		margin: 4px 12px 4px 12px !important;
		background-color: #757575 !important;
	}
	menuitem, menu {
		-moz-appearance: none !important;
		color: white !important;
		padding: 8px 0px 8px 9px !important;
		border: none !important;
	}
	menuitem[disabled="true"], menuitem[disabled="true"] > .menu-text {
		color: gray !important;
	}
	menuitem:hover, menu:hover, menu[open="true"], menuitem[_moz-menuactive="true"] {
		background-color: #404040 !important;
	}
	menuitem:hover:active, menu:hover:active, menuitem[selected="true"] {
		background-color: #555555 !important;
	}
	menugroup {
		padding: 0px !important;
		background-color: transparent !important;
	}
	menuitem > .menu-text, menuitem > .menu-iconic-text {
		color: white !important;
		padding: 0px !important;
	}
	menuitem[type="checkbox"], menuitem[type="radio"] {
		padding-left: 17px !important;
	}
	menuitem[type="checkbox"] > .menu-iconic-text, menuitem[type="radio"] > .menu-iconic-text {
		padding-left: 5px !important;
	}
	menuitem[checked="true"][type="checkbox"] > .menu-iconic-left {
		padding: 7px 0px 0px 0px !important;
		border: solid white;
		border-width: 0 0 2px 2px;
		transform: rotate(-45deg) scale(.75);
		margin-bottom: 4px !important;
	}
	menuitem[checked="true"][type="radio"] > .menu-iconic-left {
		padding: 1px !important;
		border: solid white;
		height: 17px !important;
		border-radius: 100%;
		background: white;
		transform: scale(.5); 
	}
	menucaption {
		background-color: transparent !important;
		color: white !important;
	}
	#ContentSelectDropdown > menupopup {
		background-image: none !important;
	}
	#ContentSelectDropdown {
		padding: 0px !important;
	}
	menulist, menulist[disabled="true"] {
		-moz-appearance: none !important;
		padding: 4px 4px 4px 4px !important;
		border: 2px solid #666666 !important;
		border-radius: 0px !important;
		background-color: transparent !important;
		color: white !important;
		height: auto !important;
	}
	menulist:hover {
		padding: 4px 4px 4px 4px !important;
		border: 2px solid #999999 !important;
		background-color: transparent !important;
	}
	menulist[open="true"]  {
		border: 2px solid #666666 !important;
		background-color: #333333 !important;
	}
	#context-back > .menu-iconic-left, #context-forward > .menu-iconic-left, #context-reload > .menu-iconic-left, #context-stop > .menu-iconic-left, #context-bookmarkpage > .menu-iconic-left {
		padding: 0px !important;
	}
	#context-navigation > menuitem {
		padding-left: 0px !important;
	}
	.menu-iconic-left {
		-moz-appearance: none !important;
		padding: 0px 5px 0px 9px !important;
	}
	.menu-right {
		-moz-appearance: none !important;
		padding: 7px !important;
		margin-right: 12px !important;
		color: white !important;
		border: solid white;
		border-width: 0 2px 2px 0px;
		transform: rotate(-45deg) scale(.55);
	}
	.menu-accel {
		padding: 0px !important;
	}
	tooltip {
		-moz-appearance: none !important;
		color: white !important;
		background-color: #2B2B2B !important;
		border: 1px solid #767676 !important;
		padding: 6.5px !important;
	}

}