@-moz-document regexp("chrome:\/\/(?!devtools).*"), regexp("about:(?!(blank|devtools)).*") {

	menupopup, panel-list {
		-moz-appearance: none !important;
		padding: 5px 1px 5px 1px !important;
		background-color: var(--uwp-context-background) !important;
		border: 1px var(--uwp-context-border) solid !important;
		border-radius: 0px !important;
		min-width: 258px !important;
	}
	menupopup menuseparator, panel-item-separator {
		-moz-appearance: none !important;
		border: none !important;
		padding: .5px 0px .5px 0px !important;
		margin: 4px 11px 4px 11px !important;
		height: 0px !important;
		background-color: var(--uwp-context-separator) !important;
	}
	menupopup menuitem, menupopup menu {
		-moz-appearance: none !important;
		color: var(--uwp-global-front) !important;
		padding: 7px 0px 7px 9px !important;
		border: none !important;
		font-size: 12px !important;
	}
	menupopup menuitem[disabled="true"], menupopup menuitem[disabled="true"] > .menu-text {
		color: gray !important;
	}
	menupopup menuitem:hover, menupopup menu:hover, menupopup menuitem[_moz-menuactive], menupopup menu[_moz-menuactive] {
		background-color: var(--uwp-context-menuitem-hover) !important;
	}
	menupopup menu[open], menupopup menuitem[selected="true"] {
		background-image: var(--uwp-context-menuitem-open-image) !important;
		background-blend-mode: multiply;
		background-color: var(--uwp-context-menuitem-open) !important;
	}
	menupopup menuitem:hover:active, menupopup menu:hover:active, menupopup menuitem[selected] {
		background-color: var(--uwp-context-menuitem-active) !important;
	}
	menugroup {
		padding: 0px !important;
		background-color: transparent !important;
	}
	menupopup menuitem > .menu-text, menupopup menuitem > .menu-iconic-text {
		color: var(--uwp-global-front) !important;
		padding: 0px !important;
	}
	menupopup menuitem[type="checkbox"], menupopup menuitem[type="radio"] {
		padding-left: 17px !important;
	}
	menupopup menuitem[type="checkbox"] > .menu-iconic-text, menupopup menuitem[type="radio"] > .menu-iconic-text {
		padding-left: 5px !important;
	}
	menupopup menuitem[checked="true"][type="checkbox"] > .menu-iconic-left {
		padding: 7px 0px 0px 0px !important;
		border: solid var(--uwp-global-front);
		border-width: 0 0 2px 2px;
		transform: rotate(-45deg) scale(.75);
		margin-bottom: 4px !important;
	}
	menupopup menuitem[checked="true"][type="radio"] > .menu-iconic-left {
		padding: 1px !important;
		border: solid var(--uwp-global-front);
		height: 17px !important;
		border-radius: 100%;
		background: var(--uwp-global-front);
		transform: scale(.5); 
	}
	menupopup menucaption {
		background-color: transparent !important;
		color: white !important;
	}
	menubar {
	}
	menubar > menu {
		-moz-appearance: none !important;
		padding-left: 5px !important;
		padding-right: 5px !important;
		padding-top: 5px !important;
		padding-bottom: 5px !important;
		font-size: 14px !important;
		border: none !important;
	}
	menubar > menu:hover {
		background-color: var(--uwp-context-menubar-hover) !important;
	}
	menubar > menu[open] {
		background-color: var(--uwp-context-menubar-open) !important;
	}
	#ContentSelectDropdown > menupopup {
		background-image: none !important;
	}
	#ContentSelectDropdown {
		padding: 0px !important;
	}
	menulist, menulist[disabled="true"] {
		-moz-appearance: none !important;
		padding: 4px 6px 4px 6px !important;
		border: 2px solid var(--uwp-tags-textbox-border) !important;
		border-radius: 0px !important;
		background: var(--uwp-tags-textbox) !important;
		color: var(--uwp-tags-textbox-color) !important;
		height: auto !important;
		box-shadow: none !important;
	}
	menulist:hover { /* Finish this */
		border: 2px solid var(--uwp-tags-textbox-hover) !important;
	}
	menulist[open="true"]  {
		border: 2px solid #666666 !important;
		background-color: #333333 !important;
	}
	#context-back > .menu-iconic-left, #context-forward > .menu-iconic-left, #context-reload > .menu-iconic-left, #context-stop > .menu-iconic-left, #context-bookmarkpage > .menu-iconic-left {
		padding: 0px !important;
	}
	#context-navigation > menuitem {
		padding-left: 0px !important;
	}
	.menu-iconic-left {
		-moz-appearance: none !important;
		padding: 0px 5px 0px 9px !important;
	}
	.menu-right {
		-moz-appearance: none !important;
		padding: 7px !important;
		margin-right: 12px !important;
		color: white !important;
		border: solid var(--uwp-global-front);
		border-width: 0 2px 2px 0px;
		transform: rotate(-45deg) scale(.55);
	}
	.menu-accel {
		padding: 0px !important;
	}
	.menu-text {
		margin-top: 1px !important;
		margin-bottom: 1px !important;
	}
	tooltip { /* Also update the js script */
		-moz-appearance: none !important;
		color: var(--uwp-global-front) !important;
		background-color: var(--uwp-context-tooltip) !important;
		border: 1px solid var(--uwp-context-tooltip-border) !important;
		padding: 6px !important;
	}
	.arrow.top, .arrow.bottom {
		display: none !important;
	}

}