@-moz-document url-prefix("chrome://"), url-prefix("about:") {

	menupopup {
		-moz-appearance: none !important;
		padding: 5px 1px 5px 1px !important;
		background-color: var(--uwp-context-background) !important;
		border: 1px var(--uwp-context-border) solid !important;
		border-radius: 0px !important;
		min-width: 258px !important;
	}
	menuseparator {
		-moz-appearance: none !important;
		border: none !important;
		padding: .5px 0px .5px 0px !important;
		margin: 4px 11px 4px 11px !important;
		background-color: var(--uwp-context-separator) !important;
	}
	menuitem, menu {
		-moz-appearance: none !important;
		color: var(--uwp-global-front) !important;
		padding: 7px 0px 7px 9px !important;
		border: none !important;
		font-size: 12px !important;
	}
	menuitem[disabled="true"], menuitem[disabled="true"] > .menu-text {
		color: gray !important;
	}
	menuitem:hover, menu:hover, menuitem[_moz-menuactive], menu[_moz-menuactive] {
		background-color: var(--uwp-context-menuitem-hover) !important;
	}
	menu[open] {
		background-image: linear-gradient(var(--uwp-accent-color), var(--uwp-accent-color)); !important;
		background-blend-mode: multiply;
		background-color: rgb(80,80,80) !important;
	}
	menuitem:hover:active, menu:hover:active, menuitem[selected] {
		background-color: var(--uwp-context-menuitem-active) !important;
	}
	menugroup {
		padding: 0px !important;
		background-color: transparent !important;
	}
	menuitem > .menu-text, menuitem > .menu-iconic-text {
		color: var(--uwp-global-front) !important;
		padding: 0px !important;
	}
	menuitem[type="checkbox"], menuitem[type="radio"] {
		padding-left: 17px !important;
	}
	menuitem[type="checkbox"] > .menu-iconic-text, menuitem[type="radio"] > .menu-iconic-text {
		padding-left: 5px !important;
	}
	menuitem[checked="true"][type="checkbox"] > .menu-iconic-left {
		padding: 7px 0px 0px 0px !important;
		border: solid var(--uwp-global-front);
		border-width: 0 0 2px 2px;
		transform: rotate(-45deg) scale(.75);
		margin-bottom: 4px !important;
	}
	menuitem[checked="true"][type="radio"] > .menu-iconic-left {
		padding: 1px !important;
		border: solid var(--uwp-global-front);
		height: 17px !important;
		border-radius: 100%;
		background: var(--uwp-global-front);
		transform: scale(.5); 
	}
	menucaption {
		background-color: transparent !important;
		color: white !important;
	}
	#ContentSelectDropdown > menupopup {
		background-image: none !important;
	}
	#ContentSelectDropdown {
		padding: 0px !important;
	}
	menulist, menulist[disabled="true"] {
		-moz-appearance: none !important;
		padding: 4px 4px 4px 4px !important;
		border: 2px solid #666666 !important;
		border-radius: 0px !important;
		background-color: transparent !important;
		color: white !important;
		height: auto !important;
	}
	menulist:hover {
		padding: 4px 4px 4px 4px !important;
		border: 2px solid #999999 !important;
		background-color: transparent !important;
	}
	menulist[open="true"]  {
		border: 2px solid #666666 !important;
		background-color: #333333 !important;
	}
	#context-back > .menu-iconic-left, #context-forward > .menu-iconic-left, #context-reload > .menu-iconic-left, #context-stop > .menu-iconic-left, #context-bookmarkpage > .menu-iconic-left {
		padding: 0px !important;
	}
	#context-navigation > menuitem {
		padding-left: 0px !important;
	}
	.menu-iconic-left {
		-moz-appearance: none !important;
		padding: 0px 5px 0px 9px !important;
	}
	.menu-right {
		-moz-appearance: none !important;
		padding: 7px !important;
		margin-right: 12px !important;
		color: white !important;
		border: solid var(--uwp-global-front);
		border-width: 0 2px 2px 0px;
		transform: rotate(-45deg) scale(.55);
	}
	.menu-accel {
		padding: 0px !important;
	}
	.menu-text {
		margin-top: 1px !important;
		margin-bottom: 1px !important;
	}
	tooltip { /* Also update the js script */
		-moz-appearance: none !important;
		color: var(--uwp-global-front) !important;
		background-color: var(--uwp-context-tooltip) !important;
		border: 1px solid var(--uwp-context-tooltip-border) !important;
		padding: 6px !important;
	}

}