@-moz-document regexp("chrome:\/\/(?!devtools).*"), regexp("about:(?!(blank|devtools)).*") {

	menupopup, panel:not(.autoscroller) {
		appearance: menupopup !important;
		background: transparent !important;
		border: none !important;
		border-radius: 0px !important;
		margin: 0px !important;
		--panel-shadow-margin: 0px !important;
		@media not -moz-pref("widget.windows.mica.popups") {
			& {
				appearance: none !important;
				-moz-window-shadow: none !important;
				padding: var(--uwp-popup-padding) !important;
				margin: var(--uwp-popup-margin) !important;
			}
		}
	}
	menupopup.in-menulist {
		margin: 0px !important;
		padding: 0px !important;
		border-radius: 0px !important;
	}
	.menupopup-arrowscrollbox, ul[role="menu"].menu {
		-moz-appearance: none !important;
		padding: var(--uwp-context-margin) !important;
		background-color: var(--uwp-context-background-blur) !important;
		background-clip: padding-box !important;
		background-image: var(--uwp-acrylic-noise) !important;
		border: 1px solid var(--uwp-context-border) !important;
		border-radius: var(--uwp-tags-overlay-radius) !important;
		box-shadow: none !important;
		margin: 0px !important;
		@media not -moz-pref("widget.windows.mica.popups") {
			& {
				background-color: var(--uwp-context-background) !important;
				box-shadow: var(--uwp-shadow-context) !important;
			}
		}
	}
	panel-list, .context-menu {
		-moz-appearance: none !important;
		padding: var(--uwp-context-margin) !important;
		background-color: var(--uwp-context-background) !important;
		background-clip: padding-box !important;
		background-image: var(--uwp-acrylic-noise) !important;
		border: 1px solid var(--uwp-context-border) !important;
		border-radius: var(--uwp-tags-overlay-radius) !important;
		box-shadow: var(--uwp-shadow-context) !important;
		margin: 0px !important;
	}
	panel-item {
		background: transparent !important;
		border: none !important;
		border-radius: 0px !important;
		color: inherit !important;
	}
	.select-option-icon {
		inset-inline-start: 11px !important;
	}
	button.panel-trigger {
		padding-left: 33px !important;
		font-size: inherit !important;
	}
	.scrollbox-clip * {
		scrollbar-width: var(--uwp-context-scrollbar-width) !important;
		scrollbar-color: var(--uwp-scrollbar-thumb) transparent !important;
	}
	.context-menu > ul {
		padding: 0px !important;
	}
	.context-menu > ul > li {
		width: calc(100% - var(--uwp-context-item-margin-width)) !important;
	}
	menupopup menuseparator, panel-item-separator, toolbarseparator, hr[role="separator"], panel-list hr:not([hidden]), .context-menu > ul > li.separator {
		-moz-appearance: none !important;
		border: none !important;
		padding: .5px 0px .5px 0px !important;
		margin: var(--uwp-context-separator-margin) !important;
		height: 0px !important;
		background-color: var(--uwp-context-separator) !important;
	}
	menuseparator::before, toolbarseparator:before {
		display: none !important;
	}
	toolbarseparator.proton-zap {
		background-image: var(--panel-separator-zap-gradient, none) !important;
	}
	.context-menu > ul > li.separator {
		width: auto !important;
	}
	menupopup menucaption {
		color: var(--uwp-global-front) !important;
		font-style: normal !important;
	}
	menupopup menuitem, menupopup menu, button[role="menuitem"], button[role="menuitemcheckbox"], .autocomplete-richlistitem, select > option, menupopup h1, .panel-subview-body > toolbarbutton, .panel-subview-body > :not(:is(.toolbaritem-combined-buttons)) > toolbarbutton {
		-moz-appearance: none !important;
		color: var(--uwp-context-item-color) !important;
		background-color: var(--uwp-context-item-background) !important;
		border-radius: var(--uwp-tags-control-radius) !important;
		padding: var(--uwp-context-item-padding) !important;
		border: none !important;
		font-size: 12px !important;
		margin: var(--uwp-context-item-margin) !important;
		transition: none !important;
		&:focus-visible {
			outline: 2px solid var(--uwp-focus-stroke-outer) !important;
			box-shadow: 0px 0px 0px 1px var(--uwp-focus-stroke-inner) !important;
			outline-offset: 1px !important;
		}
		&:hover {
			background-color: var(--uwp-context-item-background-hover) !important;
			border: none !important;
		}
		&:hover:active {
			background-color: var(--uwp-context-item-background-active) !important;
			border: none !important;
		}
	}
	.subviewbutton {
		border-radius: var(--uwp-tags-control-radius) !important;
	}
	.subviewbutton-iconic.profile-item > .toolbarbutton-icon {
		fill: AccentColorText !important;
		stroke: AccentColor !important;
		width: 16px !important;
		height: 16px !important;
	}
	#appMenu-zoom-controls {
		padding: 0px 12px !important;
	}
	.all-tabs-item {
		& > toolbarbutton {
			&:hover {
				color: inherit !important;;
				background-color: transparent !important;
			}
		}
	}
	.menu-iconic-left {
		padding-top: 0px !important;
	}
	menuitem:not([checked="true"]) .menu-iconic-left {
		margin-inline-end: 0px !important;
	}
	button:is([role="menuitem"], [role="menuitemcheckbox"]) {
		background-position-x: 10px !important;
		padding-left: 36px !important;
	}
	select > option {
		padding-inline: 7px 0px 7px 9px !important;
	}
	menupopup menuitem[disabled="true"], menupopup menuitem[disabled="true"] > .menu-text {
		color: gray !important;
	}
	/*
	@media (prefers-color-scheme: light) {
		menupopup menu[open], menupopup menuitem[selected="true"], select > option:checked {
			background-color: color-mix(in srgb, AccentColor 60%, white) !important;
		}
	}
	@media (prefers-color-scheme: dark) {
		menupopup menu[open], menupopup menuitem[selected="true"], select > option:checked {
			background-color: color-mix(in srgb, AccentColor 60%, black) !important;
		}
	}
	*/
	menugroup {
		padding: 0px !important;
		background-color: transparent !important;
	}
	.menu-text, .menu-accel {
		padding: 0px !important;
	}
	.menu-accel {
		color: gray !important;
	}
	menupopup[placespopup="true"] menuitem .menu-iconic-icon {
		margin-left: 2px !important;
		margin-right: 8px !important;
	}
	#context-navigation > .menuitem-iconic {
		width: auto !important;
		flex-grow: 1 !important;
	}
	menubar {
		height: var(--uwp-menubar-height)!important;
	}
	menubar > menu {
		-moz-appearance: none !important;
		color: var(--uwp-global-front) !important;
		margin: var(--uwp-menubar-item-margin) !important;
		padding: var(--uwp-menubar-item-padding) !important;
		font-size: 14px !important;
		border: none !important;
		border-radius: var(--uwp-tags-control-radius) !important;
		background-color: var(--uwp-menubar-item-background) !important;
	}
	menubar > menu > .menubar-text {
		margin: 0px !important;
	}
	menubar > menu:hover {
		color: var(--uwp-button-color-hover) !important;
		background-color: var(--uwp-menubar-item-background-hover) !important;
	}
	menubar > menu:hover:active {
		color: var(--uwp-button-color-active) !important;
		background-color: var(--uwp-menubar-item-background-active) !important;
	}
	menubar > menu[open] {
		background-color: var(--uwp-menubar-item-background-selected) !important;
	}
	#ContentSelectDropdown > menupopup {
		background-image: none !important;
	}
	#ContentSelectDropdown {
		padding: 0px !important;
	}
	#context-navigation > .menuitem-iconic[_moz-menuactive="true"][disabled="true"] > .menu-iconic-left > .menu-iconic-icon {
		background: transparent !important;
	}
	menulist, menulist[disabled="true"], select {
		-moz-appearance: none !important;
		padding-block: 0px !important;
		padding-inline: 0px !important;
		padding: 4px 11px 4px 11px !important;
		color: var(--uwp-combo-color) !important;
		background-color: var(--uwp-combo-background) !important;
		border: var(--uwp-combo-border) !important;
		background-clip: padding-box !important;
		border-radius: var(--uwp-tags-control-radius) !important;
		height: auto !important;
		min-height: 32px !important;
		box-shadow: none !important;
		font-size: inherit !important;
		font-weight: inherit !important;
		@media -moz-pref("uwp.sun-valley") {
			@media (prefers-color-scheme: dark) {
				& {
					border-top-color: var(--uwp-control-stroke-secondary) !important;
				}
			}
			@media (prefers-color-scheme: light) {
				& {
					border-bottom-color: var(--uwp-control-stroke-secondary) !important;
				}
			}
		}
		&:focus-visible {
			outline: 2px solid var(--uwp-focus-stroke-outer) !important;
			box-shadow: 0px 0px 0px 1px var(--uwp-focus-stroke-inner) !important;
			outline-offset: 1px !important;
		}
	}
	menulist:hover, select:hover { /* Finish this */
		color: var(--uwp-combo-color-hover) !important;
		background-color: var(--uwp-combo-background-hover) !important;
		border: var(--uwp-combo-border-hover) !important;
		@media -moz-pref("uwp.sun-valley") {
			@media (prefers-color-scheme: dark) {
				& {
					border-top-color: var(--uwp-control-stroke-secondary) !important;
				}
			}
			@media (prefers-color-scheme: light) {
				& {
					border-bottom-color: var(--uwp-control-stroke-secondary) !important;
				}
			}
		}
	}
	.select-wrapper {
		border: none !important;
		border-radius: 0px !important;
		background: transparent !important;
		overflow: initial !important;
	}
	menulist[open="true"] {
		color: var(--uwp-combo-color-active) !important;
		background-color: var(--uwp-combo-background-active) !important;
		border: var(--uwp-combo-border-active) !important;
	}
	#label-box:not([native]) {
		font-weight: normal !important;
	}
	#label-box {
		& label {
			margin: 0px !important;
		}
	}
	dropmarker[type="menu"] {
		margin-left: 10px !important;
	}
	select {
		line-height: normal !important;
	}
	select:-moz-focusring {
		outline: none !important;
	}
	#context-back > .menu-iconic-left, #context-forward > .menu-iconic-left, #context-reload > .menu-iconic-left, #context-stop > .menu-iconic-left, #context-bookmarkpage > .menu-iconic-left {
		padding: 0px !important;
	}
	#context-navigation > menuitem {
		padding: 5px 8px !important;
	}
	#context-navigation > .menuitem-iconic:first-child, #context-navigation > .menuitem-iconic:last-child  {
		-moz-box-pack: center !important;
	}
	#context-navigation > .menuitem-iconic[_moz-menuactive="true"]:not([disabled="true"]) > .menu-iconic-left > .menu-iconic-icon {
		background: transparent !important;
	}
	.og-card {
		background-color: transparent !important;

		& .og-card-content {
			background-color: transparent !important;
			border-bottom-color: var(--uwp-divider-stroke-default) !important;
		}
	}
	tooltip { /* Also update the js script */
		-moz-window-shadow: cliprounded !important;
		appearance: menupopup !important;
		color: var(--uwp-global-front) !important;
		background-color: var(--uwp-context-background-blur) !important;
		background-clip: padding-box !important;
		border: 1px solid var(--uwp-context-tooltip-border) !important;
		padding: 6px !important;
		border-radius: var(--uwp-tags-control-radius) !important;
		@media not -moz-pref("widget.windows.mica.popups") {
			& {
				background-color: var(--uwp-context-tooltip) !important;
				appearance: none !important;
			}
		}
	}
	@supports(backdrop-filter: blur(1px)) {
		@media not -moz-pref("uwp.sun-valley.mica") {
			panel-list, .context-menu {
				background-image: var(--uwp-acrylic-noise) !important;
				background-color: var(--uwp-context-background-blur) !important;
				backdrop-filter: var(--uwp-acrylic-backdrop) !important;
			}
		}
	}
	.arrow.top, .arrow.bottom {
		display: none !important;
	}

	#customization-toolbar-menu {
		margin-left: -20px !important;
		margin-top: -30px !important;
	}

	#appMenu-zoom-controls > .subviewbutton-iconic:focus-visible > .toolbarbutton-icon, #appMenu-zoomReset-button2:focus-visible > .toolbarbutton-text {
		outline: none !important;
	}

}
