/* Replace :active with :hover:active */

:root {
	--uwp-header-background: #1F1F1F;
	--urlbar-popup-url-color: -moz-win-accentcolor !important;
}

button {
	-moz-appearance: none !important;
	padding: 3px !important;
	background-color: #333333 !important;
	border: 2px #333333 solid !important;
	color: white !important;
}
button:hover {
	color: white !important;
	border: 2px #858585 solid !important;
}
button:hover:active {
	color: white !important;
	background-color: #666666 !important;
	border: 2px #858585 solid !important;
}
.expander-down {
	background: url(../img/arrowdown.png) center center no-repeat !important;
	background-color: #000000A0 !important;
	list-style-image: none !important;
	padding: 11px !important;
}
.expander-up {
	background: url(../img/arrowdown.png) center center no-repeat !important;
	background-color: #000000A0 !important;
	list-style-image: none !important;
	padding: 11px !important;
	transform: rotate(180deg);
}
.customizationmode-button {
	border-radius: 0px !important;
}
textbox:not(#urlbar):not(.searchbar-textbox) {
	-moz-appearance: none !important;
	padding: 5.5px 5.5px 5.5px 5.5px !important;
	border: 2px solid #666666 !important;
	background-color: #000000A0 !important;
	color: white !important;
}
textbox:not(#urlbar):not(.searchbar-textbox):hover {
	padding: 5.5px 5.5px 5.5px 5.5px !important;
	border: 2px solid #999999 !important;
}
textbox[focused="true"]:not(#urlbar):not(.searchbar-textbox) {
	padding: 5.5px 5.5px 5.5px 5.5px !important;
	border: 2px solid -moz-win-accentcolor !important;
	background-color: white !important;
	color: black !important;
}
listbox {
	-moz-appearance: none !important;
	background-color: black !important;
	border: 1px #333333 solid !important;
}
listitem {
	margin: 0px !important;
	padding: 1px !important;
	border: none !important;
}
listitem:hover {
	background-color: #202020 !important;
}
listitem[selected="true"] {
	background-color: #404040 !important;
}
dropmarker {
	-moz-appearance: none !important;
	margin-right: 0px !important;
	padding-right: 20px !important;
	list-style-image: none !important;
	background: url(../img/arrowdown.png) center center no-repeat !important;
}
dropmarker > .dropmarker-icon {
	list-style-image: none !important;
}

/* Check Box */
checkbox > .checkbox-check {
	-moz-appearance: none !important;
	border: 2px solid #CCCCCC !important;
	padding: 8px !important;
}
checkbox:hover > .checkbox-check {
	border: 2px solid #FFFFFF !important;
}
checkbox:active > .checkbox-check {
	border: 2px solid #999999 !important;
	background-color: #999999 !important;
}
.checkbox-check[checked="true"] {
	border: 2px solid -moz-win-accentcolor !important;
	background: -moz-win-accentcolor url(../img/check.png);
}
.checkbox-label-box {
	margin-left: 5px !important;
}

/* Check Box Disabled */
checkbox[disabled="true"] > .checkbox-check {
	border: 2px solid #666666 !important;
	padding: 8px !important;
}
checkbox[disabled="true"]:hover > .checkbox-check {
	border: 2px solid #666666 !important;
}
checkbox[disabled="true"]:active > .checkbox-check {
	border: 2px solid #666666 !important;
	background-color: transparent !important;
}

/* Radio Button */
radio > .radio-check {
	-moz-appearance: none !important;
	padding: 8px !important;
	border: 2px solid #CCCCCC;
	border-radius: 100%;
	background: transparent !important;
	margin-right: 5px !important;
}
radio:hover > .radio-check {
	border: 2px solid #FFFFFF !important;
}
radio:active > .radio-check {
	border: 2px solid #999999 !important;
}
radio[selected="true"] > .radio-check {
	border: 2px solid -moz-win-accentcolor;
	background: url(../img/radio.png) !important;
}
radio[selected="true"]:hover > .radio-check {
	border: 2px solid -moz-win-accentcolor !important;
	background: url(../img/radio-hover.png) !important;
}
radio[selected="true"]:active > .radio-check {
	background: url(../img/radio-active.png) !important;
}
/* Radio Button Disabled */
radio[disabled="true"] > .radio-check {
	border: 2px solid #666666 !important;
}
radio[disabled="true"]:hover > .radio-check {
	border: 2px solid #666666 !important;
}
radio[disabled="true"]:active > .radio-check {
	border: 2px solid #666666 !important;
}
radio[disabled="true"][selected="true"] > .radio-check {
	border: 2px solid -moz-win-accentcolor;
	background: url(../img/radio.png) !important;
}
radio[disabled="true"][selected="true"]:hover > .radio-check {
	border: 2px solid -moz-win-accentcolor !important;
	background: url(../img/radio.png) !important;
}

groupbox {
	-moz-appearance: none !important;
	border: none !important;
}
/* Tree stuff */
treechildren {
	background-color: black !important;
	color: lightgray !important;
	--treechildren-outline: none !important;
	--treechildren-focusColor: rgb(123,195,255) !important;
	--treechildren-selectedFocusColor: rgb(205,232,255) !important;
	--treechildren-currentColor: rgb(125,162,206) !important;
	--treechildren-hoverColor: rgb(229,243,255) !important;
	--treechildren-selectedBorder: rgb(80,80,80) !important;
	--treechildren-selectedBackground: rgb(80,80,80) !important;
	--treechildren-currentFocusBorder: var(--treechildren-focusColor) !important;
	--treechildren-selectedFocusBorder: rgb(100,100,100) !important;
	--treechildren-selectedFocusBackground: rgb(100,100,100) !important;
	--treechildren-selectedFocusCurrentBorder: rgb(100,100,100) !important;
	--treechildren-selectedFocusCurrentBackground: rgb(100,100,100) !important;
	--treechildren-hoverBorder: rgb(35,35,35) !important;
	--treechildren-hoverBackground: rgb(35,35,35) !important;
	--treechildren-hoverCurrentBorder: var(--treechildren-currentColor) !important;
	--treechildren-hoverCurrentBackground: rgba(131,183,249,.16) !important;
	--treechildren-hoverSelectedBorder: rgb(120,120,120) !important;
	--treechildren-hoverSelectedBackground: rgb(120,120,120) !important;
}
tree {
	-moz-appearance: none !important;
	border: none !important;
}
treecol {
	-moz-appearance: none !important;
	color: white !important;
	background-color: rgb(25, 25, 25) !important;
	height: 22px !important;
}
#placesView > splitter {
	border-inline-end: 1px solid rgb(40,40,40) !important;
}
#detailsDeck {
	border-top: 1px solid rgb(40,40,40) !important;
}
.tree-splitter {
	width: 1px !important;
	max-width: 1px !important;
	-moz-appearance: none !important;
	border: 1px solid rgb(100,100,100) !important;
}
.treecol-image {
	-moz-appearance: none !important;
	background-color: rgb(25, 25, 25) !important;
}
treecol:hover, .treecol-image:hover {
	background-color: rgb(40, 40, 40) !important;
}
treecol:active, .treecol-image:active {
	background-color: rgb(60, 60, 60) !important;
}
.treecol-sortdirection[sortDirection="descending"] {
	list-style-image: url(../img/arrowdown.png) !important;
}
.treecol-sortdirection[sortDirection="ascending"] {
	list-style-image: url(../img/arrowdown.png) !important;
	transform: rotate(180deg);
}

/* Removes padding effect on click */
treecol:active {
	padding-inline-start: 0 !important;
	padding-inline-end: 0 !important;
	padding-left: 4px !important;
	padding-right: 4px !important;
	padding-top: 0px !important;
}
.treecol-image:active {
	padding: 1px 1px !important;
	padding-inline-start: 0 !important;
}
.treecol-image:hover:active {
	padding-inline-start: 0 !important;
	padding-left: 1px !important;
}
.tree-columnpicker-icon {
	filter: invert(1);
}

/* Download Stuff */
richlistitem {
	background-color: black !important;
	color: white !important;
	border-radius: 0 !important;
	padding: 2px !important;
}
richlistitem:hover {
	background-color: #191919 !important;
}
richlistitem:hover:active {
	background-color: #333333 !important;
}
richlistitem[selected="true"] {
	background-image: none !important;
	background-clip: border-box !important;
	border: 2px solid -moz-win-accentcolor !important;
	padding: 0 !important;
	outline: none !important;
	background-color: #171717 !important;
}
.downloadButton:hover > .button-box > .button-icon {
	fill: -moz-win-accentcolor !important;
}

/* Window Stuff */
window:not([chromemargin]) {
	background-color: black !important;
}
window > * {
	animation-timing-function: ease-out;
	animation: fadeInTransformUp .5s;
}
/* URL dropdown thing */
#PopupAutoCompleteRichResult {
	border: none !important;
}
.autocomplete-richlistbox {
	padding: 0 !important;
	background: rgb(42, 42, 42) !important;
}
.autocomplete-richlistitem {
	background: rgb(42, 42, 42) !important;
}
/* Customization Page */
#customization-content-container {
	background-color: black !important;
}
#customization-footer {
	background-color: #161616 !important;
}
.mainContainer {
	color: white !important;
	background-color: black !important;
	border-radius: 0px !important;
	border: 1px solid -moz-win-accentcolor !important;
	animation: fadeInScale .3s;
}
tabmodalprompt {
	background: none !important;
	background-color: #00000090 !important;
	animation: fadeInOpacity .3s;
}
.buttonContainer > button {
	padding: 4.5px !important;
}

@keyframes fadeInScale {
	from {
		opacity: 0;
		transform: scale(1.05);
	}
	to {
		opacity: 1;
		transform: scale(1.0);
	}
}
@keyframes fadeInOpacity {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes fadeInTransformUp {
	from {
		transform: translate(0px, 80px);
		opacity: 0;
	}
	to {
		transform: translate(0px, 0px);
		opacity: 1;
	}
}

@-moz-document url("chrome://browser/content/places/places.xul") {
	#placesToolbar {
		padding: 4px 6px 4px 0px !important;
		background-color: var(--uwp-header-background) !important;
	}
	#placesMenu > menu {
		padding: 4px 4px 4px 4px !important;
		border: 2px solid #666666 !important;
		background-color: #000000A0 !important;
	}
	#placesMenu > menu:hover, #placesMenu > menu[_moz-menuactive="true"] {
		padding: 4px 4px 4px 4px !important;
		border: 2px solid #999999 !important;
		background-color: transparent !important;
	}
	#placesMenu > menu[open="true"]	 {
		border: 2px solid #666666 !important;
		background-color: #333333 !important;
	}
	#placesMenu > menu + menu {
		margin-left: 10px;
	}
	#placesMenu > menu > .menubar-left {
		display: none !important;
	}
	#placesMenu > menu > .menubar-text {
		padding-right: 30px !important;
		background: url(../img/arrowdown.png) right center no-repeat !important;
	}
	#clearDownloadsButton {
		-moz-appearance: none !important;
		margin-left: 8px !important;
		color: -moz-win-accentcolor !important;
	}
	#clearDownloadsButton:hover {
		color: #999999 !important;
		background-color: transparent !important;
	}
	#clearDownloadsButton:active {
		padding: 3px 9px 3px 9px !important;
		color: #666666 !important;
	}
}

@-moz-document url("chrome://browser/content/aboutDialog.xul") {
	#aboutDialogContainer {
		background-color: black !important;
	}
	#bottomBox {
		background-color: #202020 !important;
	}
	label {
		color: -moz-win-accentcolor !important;
	}
	label:hover {
		color: #999999 !important;
	}
	label:active {
		color: #666666 !important;
	}
	.button-text {
		color: white !important;
	}
}

@-moz-document url("chrome://browser/content/places/bookmarkProperties.xul") {
	#bookmarkproperties {
		background-color: black !important;
	}
	label {
		color: white !important;
	}
}

@-moz-document url("chrome://mozapps/content/downloads/unknownContentType.xul") {
	#unknownContentType {
		background-color: black !important;
	}
	label, description {
		color: white !important;
	}
	caption {
		background-color: black !important;
	}
}

@-moz-document url("chrome://mozapps/content/handling/dialog.xul") {
	#handling {
		background-color: black !important;
		color: white !important;
	}
	richlistbox {
		background-color: black !important;
		border: none !important;
		-moz-appearance: none !important;
	}
}

@-moz-document url("chrome://global/content/alerts/alert.xul") {
	#alertBox {
		box-shadow: none !important;
		background-color: #1F1F1FF4 !important;
		border: 1px solid #1F1F1F !important;
		color: white !important;
	}
	#alertTitleLabel {
		padding-top: 0px !important;
	}
	#alertNotification {
		padding: 8px 16px 0px 0px !important;
	}
}

@-moz-document url("chrome://global/content/commonDialog.xul") {
	#commonDialog {
		background-color: black !important;
	}
	label, description {
		color: white !important;
	}
	#infoIcon {
		display: none !important;
	}
	#infoContainer {
		text-align: center !important;
	}
	#checkbox {
		margin-left: 23px !important;
	}
}

@-moz-document url("chrome://mozapps/content/profile/createProfileWizard.xul") {
	label {
		color: white !important;
	}
	.wizard-header {
		background-color: var(--uwp-header-background) !important;
		border-bottom: none !important;
		height: 40px !important;
		vertical-align: middle;
	}
	.wizard-header-label {
		margin: 5.75px 12px 0px 12px !important;
	}
	.wizard-page-box {
		color: white !important;
	}
	.wizard-buttons-separator {
		display: none !important;
	}
	.wizard-next-deck {
		margin-left: 10px !important;
	}
	#createProfileWizard {
		background-color: black !important;
	}
}

@-moz-document url("chrome://pippki/content/exceptionDialog.xul") {
	#exceptiondialog {
		background-color: black !important;
	}
	.dialog-content-box {
		color: white !important;
	}
	caption {
		background-color: transparent !important;
		font-size: 16px !important;
		font-weight: bold !important;
	}
	vbox > image {
		display: none !important;
	}
	#locationGroupBox {
		margin-top: 5px !important;
	}
}

@-moz-document url("chrome://browser/content/pageinfo/pageInfo.xul") {
	/* Change Header Size */
	#topBar {
		background-color: var(--uwp-header-background) !important;
		color: lightgray !important;
		border: none !important;
	}
	#mainDeck {
		background-color: black !important;
		color: white !important;
	}
	#permHostBox > label {
		margin-top: 7px !important;
	}
	#permList {
		border: none !important;
		-moz-appearance: none !important;
		color: white !important;
	}
	.permission {
		border: none !important;
	}
	.permission:hover {
		background-color: #191919 !important;
		color: white !important;
	}
	.permission:hover:active {
		background-color: #333333 !important;
	}
	caption {
		background-color: transparent !important;
		font-size: 16px !important;
		font-weight: bold !important;
	}
	#imagecontainerbox {
		background-color: black !important;
		border: none !important;
	}
	#viewGroup > radio {
		padding-left: 13px !important;
		padding-right: 13px !important;
		padding-top: 9.5px !important;
		padding-bottom: 9.5px !important;
	}
	#viewGroup > radio[selected="true"] {
		background-color: transparent !important;
		color: white !important;
		border-bottom: 3px solid -moz-win-accentcolor;
		padding-bottom: 6.5px !important;
	}
	#viewGroup > radio > .radio-label-box {
		outline: none !important;
	}
	#viewGroup > radio:hover {
		background-color: rgb(60,60,60) !important;
		color: white !important;
	}
}

@-moz-document url("chrome://pippki/content/certViewer.xul") {
	/* Finish This */
	#certDetails {
		background-color: black !important;
	}
}
