/* Base tags for chrome:// and about: pages */

@-moz-document regexp("chrome:\/\/(?!devtools).*"), regexp("about:(?!(blank|devtools)).*") {

	:root {
		--urlbar-popup-url-color: var(--uwp-accent-color) !important;
	}

	::selection {
		color: var(--uwp-accent-text) !important;
		background-color: var(--uwp-accent-color) !important;
	}

	/* Button */
	button {
		-moz-appearance: none !important;
		padding: 3px !important;
		background-color: var(--uwp-tags-button) !important;
		border: 2px var(--uwp-tags-button) solid !important;
		border-radius: 0px !important;
		color: var(--uwp-tags-button-color) !important;
		cursor: default !important;
		transition: none !important;
		opacity: 1 !important;
	}
	button:hover, button[open] {
		border-color: var(--uwp-tags-button-hover) !important;
	}
	button:hover:active {
		background-color: var(--uwp-tags-button-hover-active) !important;
		border-color: var(--uwp-tags-button-hover-active) !important;
	}
	button[disabled="true"], button[disabled="true"] .button-text {
		color: var(--uwp-tags-button-disabled-text) !important;
	}
	button[disabled="true"]:hover, button[disabled="true"]:hover:active {
		background-color: var(--uwp-tags-button) !important;
		border-color: var(--uwp-tags-button) !important;
	}
	button:-moz-focusring {
		outline: none !important;
		box-shadow: none !important;
		/*outline-offset: 0px !important;
		outline: 1px solid black !important;
		box-shadow: 0px 0px 0px 3px white, 0px 0px 0px 3px white, 0px 0px 0px 3px white, 0px 0px 0px 3px white !important;*/
	}
	.expander-down {
		background: url(../img/arrowdown.png) center center no-repeat !important;
		background-color: #000000A0 !important;
		list-style-image: none !important;
		padding: 11px !important;
	}
	.expander-up {
		background: url(../img/arrowdown.png) center center no-repeat !important;
		background-color: #000000A0 !important;
		list-style-image: none !important;
		padding: 11px !important;
		transform: rotate(180deg);
	}

	/* Text Box */
	textbox:not(#urlbar):not(.searchbar-textbox), textarea,
	input[type="email"]:not(.textbox-input), input[type="tel"]:not(.textbox-input), input[type="text"]:not(.textbox-input), input[type="number"]:not(.textbox-input), input[type="url"]:not(.textbox-input), input[type="password"]:not(.textbox-input),
	input.plain,
	.findbar-textbox {
		-moz-appearance: none !important;
		padding: 5.5px 5.5px 5.5px 5.5px !important;
		border: 2px solid var(--uwp-tags-textbox-border) !important;
		border-radius: 0px !important;
		background: var(--uwp-tags-textbox) !important;
		color: var(--uwp-tags-textbox-color) !important;
		box-shadow: none !important;
		opacity: 1 !important;
	}
	textbox:not(#urlbar):not(.searchbar-textbox):hover, textarea:hover,
	input[type="email"]:not(.textbox-input):hover, input[type="tel"]:not(.textbox-input):hover, input[type="text"]:not(.textbox-input):hover, input[type="number"]:not(.textbox-input):hover, input[type="url"]:not(.textbox-input):hover, input[type="password"]:not(.textbox-input):hover,
	input.plain:hover,
	.findbar-textbox:hover {
		border: 2px solid var(--uwp-tags-textbox-hover) !important;
	}
	textbox[focused="true"]:not(#urlbar):not(.searchbar-textbox), textarea:focus,
	input[type="email"]:not(.textbox-input):focus, input[type="tel"]:not(.textbox-input):focus, input[type="text"]:not(.textbox-input):focus, input[type="number"]:not(.textbox-input):focus, input[type="url"]:not(.textbox-input):focus, input[type="password"]:not(.textbox-input):focus,
	input.plain:focus,
	.findbar-textbox:focus {
		padding: 5.5px 5.5px 5.5px 5.5px !important;
		border: 2px solid var(--uwp-accent-color) !important;
		background: white !important;
		color: black !important;
	}
	textboxt[disabled]:not(#urlbar):not(.searchbar-textbox),
	input[disabled][type="email"]:not(.textbox-input), input[disabled][type="tel"]:not(.textbox-input), input[disabled][type="text"]:not(.textbox-input), input[disabled][type="number"]:not(.textbox-input), input[disabled][type="url"]:not(.textbox-input), input[disabled][type="password"]:not(.textbox-input) {
		background-color: var(--uwp-tags-button) !important;
		border-color: var(--uwp-tags-button) !important;
		color: var(--uwp-tags-button-disabled-text) !important;
	}
	/* Listbox */
	listbox {
		-moz-appearance: none !important;
		background: black !important;
		border: 1px #333333 solid !important;
	}
	listitem {
		margin: 0px !important;
		padding: 1px !important;
		border: none !important;
		color: white !important;
	}
	listitem:hover {
		background: #202020 !important;
	}
	listitem[selected="true"] {
		background: #404040 !important;
	}
	dropmarker { /* Change this */
		-moz-appearance: none !important;
		margin-right: 0px !important;
		padding-right: 20px !important;
		list-style-image: none !important;
		background: url(../img/arrowdown.png) center center no-repeat !important;
	}
	dropmarker > .dropmarker-icon {
		list-style-image: none !important;
	}

	/* Check Box */
	checkbox {
		opacity: 1 !important;
	}
	checkbox > .checkbox-check, input[type="checkbox"] {
		-moz-appearance: none !important;
		border: 2px solid var(--uwp-tags-checkbox) !important;
		border-radius: 0px !important;
		padding: 8px !important;
		margin: 0px !important;
		box-shadow: none !important;
		background-color: transparent !important;
		background-image: none !important;
	}
	checkbox:hover > .checkbox-check, input[type="checkbox"]:hover, input[type="checkbox"]:checked:hover, checkbox[checked="true"]:hover > .checkbox-check {
		border-color: var(--uwp-tags-checkbox-checked-hover) !important;
	}
	checkbox:active > .checkbox-check, input[type="checkbox"]:active, input[type="checkbox"]:checked:active, checkbox[checked="true"]:hover:active > .checkbox-check {
		border-color: var(--uwp-tags-checkbox-checked-active) !important;
		background-color: var(--uwp-tags-checkbox-checked-active) !important;
	}
	input[type="checkbox"]:checked, checkbox[checked="true"] > .checkbox-check {
		border-color: var(--uwp-accent-color) !important;
		background: var(--uwp-accent-color) url(../img/check.png) !important;
	}
	input[type="checkbox"] {
		height: 0px !important;
		width: 0px !important;
		margin-right: 10px !important;
	}
	.checkbox-label-box {
		color: var(--uwp-global-front);
		margin-left: 10px !important;
	}
	.checkbox-icon {
		fill: var(--uwp-global-front) !important;
	}

	/* Check Box Disabled */
	checkbox[disabled="true"] > .checkbox-label-box {
		color: var(--uwp-tags-checkbox-disabled) !important;
	}
	checkbox[disabled="true"] > .checkbox-check {
		border-color: var(--uwp-tags-checkbox-disabled) !important;
		background-color: transparent !important;
		padding: 8px !important;
	}
	checkbox[disabled="true"][checked="true"] > .checkbox-check {
		background-color: var(--uwp-tags-checkbox-disabled) !important;
	}
	checkbox[disabled="true"][checked="true"]:hover > .checkbox-check {
		border-color: var(--uwp-tags-checkbox-disabled) !important;
	}
	checkbox[disabled="true"][checked="true"]:hover:active > .checkbox-check {
		border-color: var(--uwp-tags-checkbox-disabled) !important;
		background-color: var(--uwp-tags-checkbox-disabled) !important;
	}

	/* Radio Button */
	radio {
		opacity: 1 !important;
	}
	radio > .radio-check, input[type="radio"] {
		-moz-appearance: none !important;
		padding: 8px !important;
		border: 2px solid var(--uwp-tags-radio-border) !important;
		border-radius: 100% !important;
		background: transparent !important;
		margin-right: 5px !important;
		box-shadow: none !important;
		width: auto !important;
		height: auto !important;
	}
	radio:hover > .radio-check, input[type="radio"]:hover {
		border: 2px solid var(--uwp-tags-radio-border-hover) !important;
	}
	radio:hover:active > .radio-check, input[type="radio"]:hover:active {
		border: 2px solid var(--uwp-tags-radio-border-active) !important;
	}
	radio[selected="true"] > .radio-check, input[type="radio"]:checked {
		border: 2px solid var(--uwp-accent-color) !important;
		background: url(../img/radio.png) !important;
	}
	radio[selected="true"]:hover > .radio-check, input[type="radio"]:checked:hover {
		border: 2px solid var(--uwp-accent-color) !important;
		background: url(../img/radio-hover.png) !important;
	}
	radio[selected="true"]:hover:active > .radio-check, input[type="radio"]:checked:hover:active {
		background: url(../img/radio-active.png) !important;
		border: 2px solid #999999 !important;
	}
	input[type="radio"] + span {
		position: relative !important;
		bottom: 5px !important;
	}
	/* Radio Button Disabled */
	radio[disabled="true"] > .radio-label-box {
		color: var(--uwp-tags-checkbox-disabled) !important;
	}
	radio[disabled="true"] > .radio-check {
		border: 2px solid var(--uwp-tags-checkbox-disabled) !important;
	}
	radio[disabled="true"]:hover > .radio-check {
		border: 2px solid  var(--uwp-tags-checkbox-disabled) !important;
	}
	radio[disabled="true"]:active > .radio-check {
		border: 2px solid var(--uwp-tags-checkbox-disabled) !important;
	}
	radio[disabled="true"][selected="true"] > .radio-check {
		border: 2px solid var(--uwp-tags-checkbox-disabled)) !important;
		background: url(../img/radio.png) !important;
	}
	radio[disabled="true"][selected="true"]:hover > .radio-check {
		border: 2px solid var(--uwp-tags-checkbox-disabled) !important;
		background: url(../img/radio.png) !important;
	}
	radio > .radio-label-box {
		margin-left: 5px !important;
	}
	a, label[href] {
		color: var(--uwp-accent-color) !important;
	}
	a:hover, label[href]:hover {
		color: #999999 !important;
	}
	a:hover:active, label[href]:hover:active {
		color: #666666 !important;
	}
	a:visited, label[href]:visited {
		color: gray !important;
	}

	.toolbarbutton-text {
		color: inherit !important;
	}

	groupbox {
		-moz-appearance: none !important;
		border: none !important;
	}
	/* Tree stuff */
	/* This code only works on Firefox <=62 */
	treechildren {
		background-color: var(--uwp-global-back) !important;
		color: lightgray !important;
		--treechildren-outline: none !important;
		--treechildren-focusColor: rgb(123,195,255) !important;
		--treechildren-selectedFocusColor: rgb(205,232,255) !important;
		--treechildren-currentColor: rgb(125,162,206) !important;
		--treechildren-hoverColor: rgb(229,243,255) !important;
		--treechildren-selectedBorder: rgb(80,80,80) !important;
		--treechildren-selectedBackground: rgb(80,80,80) !important;
		--treechildren-currentFocusBorder: var(--treechildren-focusColor) !important;
		--treechildren-selectedFocusBorder: rgb(100,100,100) !important;
		--treechildren-selectedFocusBackground: rgb(100,100,100) !important;
		--treechildren-selectedFocusCurrentBorder: rgb(100,100,100) !important;
		--treechildren-selectedFocusCurrentBackground: rgb(100,100,100) !important;
		--treechildren-hoverBorder: rgb(35,35,35) !important;
		--treechildren-hoverBackground: rgb(35,35,35) !important;
		--treechildren-hoverCurrentBorder: var(--treechildren-currentColor) !important;
		--treechildren-hoverCurrentBackground: rgba(131,183,249,.16) !important;
		--treechildren-hoverSelectedBorder: rgb(120,120,120) !important;
		--treechildren-hoverSelectedBackground: rgb(120,120,120) !important;
	}
	/* Firefox >= 63 */
	treechildren::-moz-tree-image {
		fill: var(--uwp-global-front) !important;
	}
	treechildren::-moz-tree-twisty {
		fill: var(--uwp-global-front) !important;
	}
	treechildren::-moz-tree-row {
		background-color: var(--uwp-global-back) !important;
	}
	treechildren::-moz-tree-row(hover) {
		background-color: var(--uwp-tags-treechildren-row-hover) !important;
	}
	treechildren::-moz-tree-row(selected) {
		background-color: var(--uwp-tags-treechildren-row-selected)  !important;
	}
	treechildren::-moz-tree-cell-text {
		color: var(--uwp-global-front) !important;
	}
	treechildren::-moz-tree-cell-text(hover) {
		color: var(--uwp-global-front) !important;
	}
	treechildren::-moz-tree-cell-text(selected) {
		color: var(--uwp-global-front) !important;
	}
	tree {
		-moz-appearance: none !important;
		border: none !important;
	}
	treecol {
		-moz-appearance: none !important;
		color: white !important;
		background-color: rgb(25, 25, 25) !important;
		height: 22px !important;
	}
	#placesView > splitter {
		border-inline-end: 1px solid rgb(40,40,40) !important;
	}
	#detailsDeck {
		border-top: 1px solid rgb(40,40,40) !important;
	}
	.tree-splitter {
		width: 1px !important;
		max-width: 1px !important;
		-moz-appearance: none !important;
		border: 1px solid rgb(100,100,100) !important;
	}
	treecol[hidden="true"] + .tree-splitter {
		border: none !important;
		width: 0px !important;
		max-width: 0px !important;
	}
	.treecol-image {
		-moz-appearance: none !important;
		background-color: rgb(25, 25, 25) !important;
	}
	treecol:hover, .treecol-image:hover {
		background-color: rgb(40, 40, 40) !important;
	}
	treecol:active, .treecol-image:active {
		background-color: rgb(60, 60, 60) !important;
	}
	treecol[sortDirection="descending"]:not([hideheader="true"]) > *.treecol-sortdirection, .treecol-sortdirection[sortDirection="descending"] {
		list-style-image: url(../img/arrowdown.png) !important;
		width: 14px !important;
		height: 10px !important;
	}
	treecol[sortDirection="ascending"]:not([hideheader="true"]) > *.treecol-sortdirection, .treecol-sortdirection[sortDirection="ascending"] {
		list-style-image: url(../img/arrowdown.png) !important;
		transform: rotate(180deg);
		width: 14px !important;
		height: 10px !important;
	}
	listheader {
		box-shadow: none !important;
		padding-bottom: 0px !important;
		border: none !important;
	}

	/* Removes padding effect on click */
	treecol {
		padding: 0px 10px !important;
	}
	treecol:active {
		padding: 0px 10px !important;
	}
	treecols {
		border-bottom: 0px !important;
	}
	treecol[hideheader="true"], treecol[hideheader="true"] > .treecol-image {
		padding: 0px !important;
		height: 0px !important;
	}
	.treecol-image {
		padding: 5px 10px !important;
	}
	.tree-columnpicker-icon {
		filter: invert(1);
	}

	/* Richlist Stuff */
	richlistbox {
		-moz-appearance: none !important;
		background-color: transparent !important;
	}
	richlistitem {
		background-color: transparent !important;
		color: var(--uwp-global-front) !important;
		border-radius: 0px !important;
	}
	richlistitem:hover {
		background-color: var(--uwp-tags-richlistitem-hover) !important;
	}
	richlistitem:hover:active {
		background-color: var(--uwp-tags-richlistitem-active) !important;
	}
	richlistitem[selected="true"] {
		background-image: none !important;
		background-clip: border-box !important;
		outline: none !important;
		background-color: var(--uwp-tags-richlistitem-selected) !important;
	}
	.downloadButton:hover > .button-box > .button-icon {
		fill: var(--uwp-accent-color) !important;
	}
	progressmeter, progress {
		-moz-appearance: none !important;
		border: none !important;
		background: var(--uwp-tags-progressbar) !important;
		height: 8px !important;
	}
	progressmeter > .progress-bar, progress::-moz-progress-bar {
		background-color: var(--uwp-accent-color) !important;
		margin: 0px !important;
	}
	progressmeter[paused="true"] > .progress-bar, progress[paused]::-moz-progress-bar  {
		background-color: GrayText !important;
	}
	progressmeter[mode="undetermined"] > .progress-bar, progress:not([value])::-moz-progress-bar {
		background-image: none !important;
		animation: none !important;
	}
	progressmeter > .progress-remainder {
		border: none !important;
		background: #333333 !important;
	}
	/* Customization Page */
	#customization-content-container {
		background-color: var(--uwp-global-back) !important;
	}
	#customization-footer {
		border-top: none !important;
		background-color: var(--uwp-bottom-background) !important;
	}
	.customizationmode-button {
		border-radius: 0px !important;
	}
	.mainContainer, .tabmodalprompt-mainContainer {
		color: white !important;
		background-color: black !important;
		border-radius: 0px !important;
		border: 1px solid var(--uwp-accent-color) !important;
		animation: fadeInScale .3s;
	}
	tabmodalprompt {
		background: none !important;
		background-color: #00000090 !important;
		animation: fadeInOpacity .3s;
	}
	.buttonContainer > button {
		padding: 4.5px !important;
	}
	#customization-uidensity-menu {
		margin-bottom: -4px !important;
		margin-left: -105px !important;
	}
	#customization-uidensity-button {
		width: 202px !important;
	}
	#customization-uidensity-menuitem-compact {
		width: 190px !important;
	}
	#customization-uidensity-autotouchmode-checkbox {
		width: 175px !important;
		margin-left: 0px !important;
	}
	#customization-lwtheme-menu > .panel-arrowcontainer > box.panel-arrowcontent {
		background: #2B2B2B !important;
		border: 1px #2B2B2B solid !important;
	}
	#customization-uidensity-menu > .panel-arrowcontainer > box.panel-arrowcontent {
		background: #2B2B2B !important;
		border: 1px #2B2B2B solid !important;
	}
	#customization-lwtheme-menu {
		margin-bottom: -4px !important;
		margin-left: -105px !important;
	}
	#customization-lwtheme-button {
		width: 202px !important;
	}
	#customization-lwtheme-menu-header {
		width: 200px !important;
	}
	#customization-lwtheme-menu-recommended, #customization-lwtheme-menu-footer {
		display: none !important;
	}
	/* Dev Tools */
	.devtools-tab, .breadcrumbs-widget-item, .tooltip-container button {
		border: none !important;
		background: transparent !important;
	}
	.devtools-tab:hover, .breadcrumbs-widget-item:hover, .tooltip-container button:hover {
		border: none !important;
		background: #353535 !important;
	}
	.devtools-tab:hover:active, .breadcrumbs-widget-item:hover:active, .tooltip-container button:hover:active {
		border: none !important;
	}
	.devtools-tab-line {
		background: var(--uwp-accent-color) !important;
	}
	.devtools-button {
		border-radius: 0px !important;
		background: transparent !important;
		border: none !important;
	}
	.devtools-button:hover {
		background: #353535 !important;
		border: none !important;
	}
	.devtools-button:hover:active {
		border: none !important;
	}
	.styleinspector-propertyeditor {
		color: black !important;
	}

	/* Permissions */
	.identity-popup-permission-remove-button:not(:-moz-focusring):hover > .button-box > .button-icon {
		fill: currentColor !important;
	}
	.identity-popup-expander {
		border: none !important;
		background: url("chrome://browser/skin/arrow-left.svg") center no-repeat !important;
	}
	.identity-popup-expander:hover, .identity-popup-expander[open] {
		border: none !important;
	}
	.identity-popup-expander:hover:active {
		border: none !important;
		fill: currentColor !important;
		background: url("chrome://browser/skin/arrow-left.svg") center no-repeat !important;
		background-color: var(--arrowpanel-dimmed-further) !important;
	}

	.external {
		color: var(--uwp-accent-color) !important;
	}
	.external::after {
		fill: var(--uwp-accent-color) !important;
	}

	@keyframes fadeInScale {
		from {
			opacity: 0;
			transform: scale(1.05);
		}
		to {
			opacity: 1;
			transform: scale(1.0);
		}
	}
	@keyframes fadeInOpacity {
		from {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}
	@keyframes fadeInTransformUp {
		from {
			transform: translate(0px, 80px);
			opacity: 0;
		}
		to {
			transform: translate(0px, 0px);
			opacity: 1;
		}
	}

}
