/**/
@media (prefers-color-scheme: light) {
:root {
	--uwp-mainwindow: #E6E6E6;
	--uwp-tabbar-tab-hover: white;
	--uwp-tabbar-button-hover: #D5D5D5;
	--uwp-tabbar-button-hover-active: #BBBBBB;
	--uwp-navbar-background-hover: #DEDEDE;
	--uwp-browser: #E6E6E6;
	--uwp-findbar: #161616;
	--uwp-autocomplete-list: white;
	--uwp-urlbar-blur: #FFFFFFB0;
	--uwp-autocomplete-oneoffs: #333333;
	--uwp-sidebar: #2A2A2A;
	--uwp-sidebar-search: black;
	--uwp-sidebar-box: black;
	--uwp-statuspanel: #2A2A2A;
	--uwp-statuspanel-color: lightgray;

	--titlebar-min-max-hover-bg-color: #D5D5D5;
	--titlebar-min-max-active-bg-color: #BBBBBB;
	--titlebar-close-hover-bg-color: #E81123;
	--titlebar-close-active-bg-color: #F06F79;
	--arrowpanel-background: white !important;
	--arrowpanel-dimmed: #CDCDCD !important;
	--chrome-background-color: black !important;
	--chrome-secondary-background-color: #2A2A2A !important;
	--toolbar-bgcolor: white !important;

	--uwp-bottom-background: #E6E6E6;

	--uwp-titlebar: black;

	--autocomplete-popup-background: white !important;
	--autocomplete-popup-color: var(--uwp-global-front) !important;
	--autocomplete-popup-highlight-background: var(--uwp-accent-color) !important;
	--autocomplete-popup-highlight-color: var(--uwp-accent-text) !important;

	--lwt-sidebar-background-color: var(--uwp-global-back) !important;
}

:root:-moz-window-inactive {
	--uwp-titlebar: #4C4C4C;
}

:root #titlebar {
	--lwt-toolbarbutton-icon-fill: black !important;
	--toolbarbutton-icon-fill-opacity: 1 !important;
}

:root:-moz-window-inactive #titlebar {
	--lwt-toolbarbutton-icon-fill: gray !important;
}

.tabbrowser-tab:-moz-lwtheme {
	color: black !important;
}
}