/**/
@media (prefers-color-scheme: dark) {
:root {
	--uwp-mainwindow: black;
	--uwp-tabbar-tab-hover: #2A2A2A;
	--uwp-tabbar-button-hover: #2A2A2A;
	--uwp-tabbar-button-hover-active: #444;
	--uwp-navbar-background-hover: #4B4B4B;
	--uwp-browser: #1A1A1A;
	--uwp-findbar: #161616;
	--uwp-autocomplete-list: #2A2A2A;
	--uwp-urlbar-blur: #2A2A2AB0;
	--uwp-autocomplete-oneoffs: #333333;
	--uwp-sidebar: #2A2A2A;
	--uwp-sidebar-search: black;
	--uwp-sidebar-box: black;
	--uwp-statuspanel: #2A2A2A;
	--uwp-statuspanel-color: lightgray;
	
	--titlebar-min-max-hover-bg-color: rgba(42, 42, 42, 1);
	--titlebar-min-max-active-bg-color: #444;
	--titlebar-close-hover-bg-color: #E81123;
	--titlebar-close-active-bg-color: #F06F79;
	--arrowpanel-background: #2A2A2A !important;
	--arrowpanel-dimmed: #3C3C3C !important;
	--chrome-background-color: black !important;
	--chrome-secondary-background-color: #2A2A2A !important;
	--toolbar-bgcolor: #2A2A2A !important;

	--uwp-bottom-background: #161616;
	
	--uwp-titlebar: white;

	--autocomplete-popup-background: #2A2A2A !important;
	--autocomplete-popup-color: var(--uwp-global-front) !important;
	--autocomplete-popup-highlight-background: var(--uwp-accent-color) !important;
	--autocomplete-popup-highlight-color: var(--uwp-accent-text) !important;

	--lwt-sidebar-background-color: var(--uwp-global-back) !important;
}

:root:-moz-window-inactive {
	--uwp-titlebar: #CCCCCC;
}
}