/**/

:root {
	--uwp-context-background: #2B2B2B;
	--uwp-context-border: #161616;
	--uwp-context-separator: #757575;
	--uwp-context-menuitem-hover: #404040;
	--uwp-context-menuitem-active: #555555;
	--uwp-context-menuitem-open: var(--uwp-accent-color);
	--uwp-context-tooltip: #2B2B2B;
	--uwp-context-tooltip-border: #1C1C1C;
}