/*AGENT_SHEET*/

/* Base Theme */
@import url(./css/base.css);

/* Pop-ups, Context Menus, Dropdowns, etc */
@import url(./css/context.css);

/* Base Tags Theme */
@import url(./css/tags.css);

/* Pages */
@import url(./css/pagesChrome.css);

/* Colors */
/* Dark */
@import url(./css/colors/tags-dark.css);
@import url(./css/colors/context-dark.css);
@import url(./css/colors/base-dark.css);
@import url(./css/colors/pagesChrome-dark.css);

/* Light *//*
@import url(./css/colors/tags-light.css);
@import url(./css/colors/context-light.css);
@import url(./css/colors/base-light.css);
@import url(./css/colors/pagesChrome-light.css);
*/

/* Load custom JS */
.titlebar-spacer[type="pre-tabs"] {
	-moz-binding: url("./userChrome.xml#execute_javascript_code");
}

:root {
	--uwp-accent-color: -moz-win-accentcolor; /* Global Accent Color */
}

/* Hide back-forward buttons */
#forward-button, #back-button {
	display: none !important;
}
