/*AGENT_SHEET*/

/* Pop-ups, Context Menus, Dropdowns, etc */
@import url(./css/context.css);

/* Base Tags Theme */
@import url(./css/tags.css);

/* Pages */
@import url(./css/pagesContent.css);

/* To prevent the root style to go into any page */
@-moz-document url-prefix("about:") {

	:root {
		--uwp-accent-color: -moz-win-accentcolor; /* Global Accent Color */
	}

}
