/*AGENT_SHEET*/

/* Base Theme */
@import url(./css/base.css);

/* Pop-ups, Context Menus, Dropdowns, etc */
@import url(./css/context.css);

/* Pages */
@import url(./css/pagesChrome.css);

/* Scrollbars */
.titlebar-placeholder[type="pre-tabs"] {
	-moz-binding: url("./userChrome/userChrome.xml#execute_javascript_code");
}

#tabbrowser-tabs {
	--tab-line-color: -moz-win-accentcolor !important;
	--tab-loading-fill: -moz-win-accentcolor !important;
}
#tabbrowser-tabs:-moz-window-inactive {
	--tab-line-color: rgb(128, 128, 128) !important;
}