/*AGENT_SHEET*/

/* Pop-ups, Context Menus, Dropdowns, etc */
@import url(./css/context.css);

/* Base Tags Theme */
@import url(./css/tags.css);

/* Pages */
@import url(./css/pagesContent.css);

/* Colors */
/* Dark */
@import url(./css/colors/tags-dark.css);
@import url(./css/colors/context-dark.css);
@import url(./css/colors/base-dark.css);
@import url(./css/colors/pagesContent-dark.css);

/* Light */
/*
@import url(./css/colors/tags-light.css);
@import url(./css/colors/context-light.css);
@import url(./css/colors/base-light.css);
@import url(./css/colors/pagesContent-light.css);
*/

/* To prevent the root style to go into any page */
@-moz-document url-prefix("chrome://"), url-prefix("about:") {

	:root {
		--uwp-accent-color: -moz-win-accentcolor; /* Global Accent Color */
	}

}
