/*AGENT_SHEET*/

/* Pop-ups, Context Menus, Dropdowns, etc */
@import url(./css/context.css);

/* Base Tags Theme */
@import url(./css/tags.css);

/* Pages */
@import url(./css/pagesContent.css);

/* Icons */
@import url(./css/icons.css);

/* External */
@import url(./css/external.css);

/* Colors */
/* Dark */
@import url(./css/colors/tags-dark.css);
@import url(./css/colors/context-dark.css);
@import url(./css/colors/base-dark.css);
@import url(./css/colors/pagesContent-dark.css);

/* Light */
@import url(./css/colors/tags-light.css);
@import url(./css/colors/context-light.css);
@import url(./css/colors/base-light.css);
@import url(./css/colors/pagesContent-light.css);

:root {
	--uwp-accent-color: -moz-win-accentcolor; /* Accent color */
	--uwp-accent-text: -moz-win-accentcolortext; /* Accent color text */
}
