/*AGENT_SHEET*/

/* Pop-ups, Context Menus, Dropdowns, etc */
@import url(./css/context.css);

/* Import pagesChrome base theme */
@import url(./css/pagesChrome.css);

/* Pages */
@import url(./css/pagesContent.css);

:root {
	--uwp-accent-color: -moz-win-accentcolor; /* Global Accent Color */
}

/* Risky fixes */
dialog.prefwindow[type="child"], #history[windowtype="Update:History"] {
	background: black !important;
	color: white !important;
	padding-top: 0px !important;
	padding-bottom: 0px !important;
	padding-inline-start: 0px !important;
	padding-inline-end: 0px !important;
}
#history[windowtype="Update:History"] #historyItems {
	border: none !important;
	border-radius: 0px !important;
}
.prefpane {
	background: black !important;
	color: white !important;
}
separator.groove:not([orient="vertical"]) {
	border-top: 0px !important;
}