/**/
@supports -moz-bool-pref("uwp.sun-valley") {
@media (prefers-color-scheme: dark) {
:root {
	--uwp-mainwindow: #151515;
	--uwp-tabbar-tab-hover: var(--uwp-background-fill-base);
	--uwp-tabbar-button-hover: var(--uwp-background-fill-base);
	--uwp-tabbar-button-hover-active: #444;
	--uwp-navbar-background-hover: #4B4B4B;
	--uwp-browser: #1A1A1A;
	--uwp-findbar: #161616;
	--uwp-autocomplete-list: #2A2A2A;
	--uwp-urlbar: transparent;
	--uwp-urlbar-blur: #2A2A2AC0;
	--uwp-autocomplete-oneoffs: #333333;
	--uwp-sidebar: #2A2A2A;
	--uwp-sidebar-search: black;
	--uwp-sidebar-box: black;
	--uwp-statuspanel: #2A2A2A;
	--uwp-statuspanel-color: lightgray;
	--uwp-navbar-button-hover: #555555;
	
	--titlebar-min-max-hover-bg-color: rgba(42, 42, 42, 1);
	--titlebar-min-max-active-bg-color: #444;
	--titlebar-close-hover-bg-color: #E81123;
	--titlebar-close-active-bg-color: #F06F79;
	--arrowpanel-dimmed: #3C3C3C !important;
	--chrome-background-color: black !important;
	--toolbar-bgcolor: #2A2A2A !important;
	--toolbar-color: var(--uwp-global-front) !important;
	--toolbarbutton-icon-fill-attention: AccentColor !important;
	
	--uwp-titlebar: white;

	--autocomplete-popup-background: #2A2A2A !important;
	--autocomplete-popup-color: var(--uwp-global-front) !important;
	--autocomplete-popup-highlight-background: AccentColor !important;

	--button-hover-bgcolor: var(--panelview-toolbarbutton-hover-bgcolor) !important;
	--button-active-bgcolor: var(--panelview-toolbarbutton-active-bgcolor) !important;

	--lwt-sidebar-background-color: var(--uwp-global-back) !important;
}

:root:-moz-window-inactive {
	--uwp-titlebar: #CCCCCC;
}
}
}