/**/
@supports -moz-bool-pref("uwp.sun-valley") {
@media (prefers-color-scheme: dark) {
:root {
	--uwp-context-background: #2C2C2C;
	--uwp-context-background-blur: #2C2C2C80;

	--uwp-context-menuitem-hover: #404040;
	--uwp-context-menuitem-active: #555555;

	--uwp-context-tooltip: #2C2C2C;

	--uwp-context-menubar-hover: #191919;
	--uwp-context-menubar-open: #353535;
	--uwp-context-menulist-open: #333333;
	--uwp-context-menulist-open-border: #666666;
}
}
}