/* MDL2 */

@import url(./mdl2/tags-dark.css);
@import url(./mdl2/context-dark.css);
@import url(./mdl2/base-dark.css);
@import url(./mdl2/pagesContent-dark.css);

@import url(./mdl2/tags-light.css);
@import url(./mdl2/context-light.css);
@import url(./mdl2/base-light.css);
@import url(./mdl2/pagesContent-light.css);

@supports not -moz-bool-pref("uwp.sun-valley") {
	:root {
		--uwp-tags-control-radius: 0px;
		--uwp-tags-overlay-radius: 0px;

		--uwp-background: var(--uwp-global-back);
		--uwp-foreground: var(--uwp-global-front);

		--uwp-button-color: var(--uwp-global-front);
		--uwp-button-background: var(--uwp-tags-button);
		--uwp-button-border: 2px solid var(--uwp-tags-button);

		--uwp-button-color-hover: var(--uwp-global-front);
		--uwp-button-background-hover: var(--uwp-tags-button);
		--uwp-button-border-hover: 2px solid var(--uwp-tags-button-hover);

		--uwp-button-color-active: var(--uwp-global-front);
		--uwp-button-background-active: var(--uwp-tags-button-hover-active);
		--uwp-button-border-active: 2px solid var(--uwp-tags-button-hover-active);

		--uwp-button-color-disabled: var(--uwp-tags-button-disabled-text);
		--uwp-button-background-disabled: var(--uwp-tags-button);
		--uwp-button-border-disabled: 2px solid var(--uwp-tags-button);

		--uwp-input-color: var(--uwp-global-front);
		--uwp-input-background: var(--uwp-tags-textbox);
		--uwp-input-border: 2px solid var(--uwp-tags-textbox-border);

		--uwp-input-color-hover: var(--uwp-global-front);
		--uwp-input-background-hover: var(--uwp-tags-textbox);
		--uwp-input-border-hover: 2px solid var(--uwp-tags-textbox-hover);

		--uwp-input-color-focus: black;
		--uwp-input-background-focus: white;
		--uwp-input-border-focus: unset;

		--uwp-input-color-disabled: var(--uwp-tags-button-disabled-text);
		--uwp-input-background-disabled: var(--uwp-tags-button);
		--uwp-input-border-disabled: 2px solid var(--uwp-tags-button);

		--uwp-checkbox-background: transparent;
		--uwp-checkbox-border: 2px solid var(--uwp-tags-checkbox);

		--uwp-checkbox-background-hover: transparent;
		--uwp-checkbox-border-hover: 2px solid var(--uwp-tags-checkbox-checked-hover);

		--uwp-checkbox-background-active: var(--uwp-tags-checkbox-checked-active);
		--uwp-checkbox-border-active: 2px solid var(--uwp-tags-checkbox-checked-active);

		--uwp-checkbox-color-disabled: var(--uwp-tags-checkbox-disabled);
		--uwp-checkbox-background-disabled: transparent;
		--uwp-checkbox-border-disabled: 2px solid var(--uwp-tags-checkbox-disabled);

		--uwp-checkbox-background-checked-disabled: transparent;
		--uwp-checkbox-border-checked-disabled: 2px solid var(--uwp-tags-checkbox-disabled);

		--uwp-combo-color: var(--uwp-global-front);
		--uwp-combo-background: transparent;
		--uwp-combo-border: 2px solid var(--uwp-tags-textbox-border);

		--uwp-combo-color-hover: var(--uwp-global-front);
		--uwp-combo-background-hover: transparent;
		--uwp-combo-border-hover: 2px solid var(--uwp-tags-textbox-hover);

		--uwp-combo-color-active: var(--uwp-global-front);
		--uwp-combo-background-active: var(--uwp-tags-button);
		--uwp-combo-border-active: 2px solid var(--uwp-tags-textbox-border);

		--uwp-combo-color-disabled: var(--uwp-tags-button-disabled-text);
		--uwp-combo-background-disabled: var(--uwp-tags-button);
		--uwp-combo-border-disabled: 2px solid var(--uwp-tags-button);

		--uwp-nav-content-background: var(--uwp-background);
		--uwp-nav-item-height: 40px;
		--uwp-nav-item-selector-height: 24px;
		--uwp-nav-item-selector-width: 6px;
		--uwp-nav-item-selector-radius: 0px;

		--uwp-nav-item-color: var(--uwp-global-front);
		--uwp-nav-item-background: transparent;

		--uwp-nav-item-color-hover: var(--uwp-global-front);
		--uwp-nav-item-background-hover: var(--in-content-category-background-hover);

		--uwp-nav-item-color-active: var(--uwp-text-fill-secondary);
		--uwp-nav-item-background-active: var(--in-content-category-background-active);

		--uwp-nav-item-color-selected: var(--uwp-global-front);
		--uwp-nav-item-background-selected: transparent;

		--uwp-nav-item-color-selected-hover: var(--uwp-global-front);
		--uwp-nav-item-background-selected-hover: var(--in-content-category-background-selected-hover);

		--uwp-nav-item-color-selected-active: var(--uwp-text-fill-secondary);
		--uwp-nav-item-background-selected-active: var(--in-content-category-background-selected-active);

		--uwp-dialog-border: transparent;
		--uwp-dialog-separator: transparent;
		--uwp-dialog-smoke: transparent;

		--uwp-context-item-color: var(--uwp-global-front);
		--uwp-context-item-background: transparent;

		--uwp-context-item-background-hover: var(--uwp-context-menuitem-hover);

		--uwp-context-item-background-active: var(--uwp-context-menuitem-active);

		--uwp-context-item-margin: 0px;
		--uwp-context-item-margin-width: 0px;
		--uwp-context-item-padding-top: 7px;
		--uwp-context-item-padding-bottom: 7px;
		--uwp-context-separator-margin: 4px 11px;
		--uwp-context-margin: 5px 1px;
		--uwp-context-scrollbar-width: initial;
	}

	:root {
		--arrowpanel-menuitem-margin: var(--uwp-context-item-margin) !important;
		--arrowpanel-menuitem-border-radius: var(--uwp-tags-control-radius) !important;
		--arrowpanel-border-radius: var(--uwp-tags-overlay-radius) !important;
		--arrowpanel-border-color: var(--uwp-context-border) !important;
		--panel-subview-body-padding: 0px !important;
	}

	@-moz-document regexp("chrome:\/\/(?!devtools).*"), regexp("about:(?!(blank|devtools)).*") {
		textarea:focus,
		input:not(#urlbar-input):not(.searchbar-textbox):not(.fake-editable):not([type="radio"]):not([type="checkbox"]):not([type="range"]):focus,
		.findbar-textbox:focus {
			border: 2px solid -moz-accent-color !important;
		}
	}
}